[2014-07-15 16:44] dypsilon opened #2 "#swag"
The #hapi channel on freenode demands a way to buy t-shirts and stickers with Hapi logos!

[2014-07-23 19:15] svnlto opened #5 "members is now people"
This change in the github urls breaks the footer core team link.

![](https://i.cloudup.com/aSpovQYViU-2000x2000.png)

https://github.com/orgs/spumko/people

[2014-07-23 19:30] #5 closed, assigned to nobody

[2014-08-04 19:10] nlf opened #7 "Call for plugins"
We've added a [plugin list](http://hapijs.com/plugins) to hapijs.com!

We need your help though. If you wrote a plugin, or have a plugin that you use often that isn't already listed, please send us a [pull request](https://github.com/hapijs/hapijs.com/blob/beta/lib/plugins.js) adding it to the site.

If your plugin fits under one of the existing categories, please use it. If not, creating a new ca

[2014-08-05 16:12] stongo opened #14 "Right sidebar display issue"
Confirmed in Firefox 31.0 and Chrome 36.0

Part of the right sidebar gets cut off at the bottom and is impossible to scroll to on smaller screens.
### Small display area

Can't scroll down

![screen shot 2014-08-05 at 12 07 40 pm](https://cloud.githubusercontent.com/assets/1449748/3814375/bc91737c-1cba-11e4-86ae-98e5f19a5d00.png)
### Bigger display area

Reveals rest of sidebar

![screen shot 2014

[2014-08-05 22:04] nlf opened #15 "Add link to hapijs/discuss"

[2014-08-05 22:05] #15 closed, assigned to nlf

[2014-08-08 16:55] arb opened #18 "API Header Links"
I think that the header tags under API should be anchors like they are on the GitHub readme. It's difficult to give someone a link right to a method or property without that feature. They are in the side menu, but I find myself just doing searches on the page.

[2014-08-14 10:02] bnjmnt4n opened #21 "Better page titles"
Currently the only page titles I’m receiving are the URLs of the pages themselves. It might be better if there were better page titles, e.g. “Tutorials - Hapi.js”.

[2014-08-16 18:14] eliotsykes opened #22 "Consider non-image example for lookupCompressed option"
It's usually not advisable to compress jpegs as they're compressed already (http://webmasters.stackexchange.com/questions/8382/gzipped-images-is-it-worth).

A minor improvement to the docs might be to not use a jpeg here when demonstrating the lookupCompressed option. CSS, JS, or HTML files would be better candidates:

https://github.com/hapijs/hapijs.com/blob/3af59e6ae7335917881451a4d9f3aafcdabd9

[2014-08-21 14:23] mtharrison opened #24 "Typos in testimonials"
There's a couple of typos I've spotted:

Feedient

I'm not sure if they're transcribed exactly from the original quotes and you've left them as-is for a purpose. If not, I can open a PR.

[2014-08-25 13:16] kidtronnix opened #26 "I got hapi!"
Hey guys,

I made a project using hapi:

Http://Github.com/smaxwellstewart/hapi-dash

Would be brilliant if you featured it on the site.

Thanks for all the hard work making many devs hapi. It is brilliant framework, and supported really well.

Simon

[2014-08-25 17:31] #22 closed, assigned to nobody

[2014-08-25 17:47] #21 closed, assigned to nobody

[2014-08-25 17:50] #24 closed, assigned to nobody

[2014-08-25 18:05] #18 closed, assigned to nlf

[2014-08-25 18:06] nlf opened #27 "Allow block selection in API references"
Something like github allows, where you can click a line and shift click a second line and create a link to that specific code block. Would be nice.

[2014-08-25 18:09] #26 closed, assigned to nobody

[2014-08-25 18:10] nlf opened #28 "Changelog in updates page renders poorly when browser is wide"

[2014-08-25 18:15] #28 closed, assigned to nobody

[2014-08-25 19:05] #14 closed, assigned to nlf

[2014-08-27 18:32] geek opened #31 "Create About section"
1. Move contributing into about page
2. Add link to governance
3. Add link to style guide
4. Add link to operating guidelines

It would be nice if all of these pages can be styled like the site and be pulled in automatically from the github versions.

[2014-09-03 13:26] shobhitic opened #35 "Change nipple to wreck in API"
I found references to Nipple in the API documentation at http://hapijs.com/api. It should be changed to wreck.

Attaching the screenshot here.
![screen shot 2014-09-03 at 6 53 43 pm](https://cloud.githubusercontent.com/assets/2300751/4134573/c5adaa06-336d-11e4-9eab-cf83bf7117a8.png)

[2014-09-03 15:31] #35 closed, assigned to lloydbenson

[2014-09-03 20:50] lloydbenson opened #36 "reference drop down"
I noticed that when i pick another version for Reference under the API tab, that the top level one disappears and I can't get back to it unless i click on API.  At the time I was looking 6.7.1 was the top, so if I pick something else I should see that option still.  The top most level one I could see after making another selection was 6.6.0.  Let me know if you need more specifics about browser et

[2014-09-15 11:09] gerardnll opened #39 "Got hapi? filmin"
Hi guys we would like you to know that we are using Hapi in a few services of our platform. Thanks so much for your work.
We offer films and tv shows on-demand in Spain. We have more than 5000 films available and growing. Mostly indie and classics films. Users can choose between a subscription plan or a pay-per-view option. www.filmin.es

**Company name:** Comunidad filmin s.l. (trademark: filmin)

[2014-09-15 16:00] nlf opened #40 "Add Disney to community page"
See https://github.com/hapijs/lab/issues/206

[2014-09-15 16:31] nlf opened #41 "Add Macy's to community page"

[2014-09-15 16:31] nlf opened #42 "Add the Node Security Project to the community page"

[2014-09-15 16:33] #39 closed, assigned to nobody

[2014-09-15 16:35] #42 closed, assigned to nlf

[2014-09-15 16:35] #41 closed, assigned to nlf

[2014-09-15 16:35] #40 closed, assigned to nlf

[2014-09-15 16:55] nlf opened #43 "Got hapi?"
We are compiling a list of companies or products using hapi for a few reasons:
- **showcase logos** and user stories of successful hapi development for the new site
- create a private hapi **security notification list** for high risk alerts
- solicit **private feedback** about making hapi better
- potential hapi **developer event** in the coming months
- help companies to **hire** experienced hapi

[2014-09-15 16:59] #36 closed, assigned to nlf

[2014-09-16 18:39] nlf opened #44 "Create a Security tutorial"
Should document the various things hapi does/has to facilitate creating a secure application.

See hapijs/hapi#1951

[2014-09-16 20:09] kidtronnix opened #45 "New hapi plugin."
Hey guys,

Been hard at work with a new open source project. It is designed to make it very simple to create RESTful CRUD endpoints for a Hapi server using MongoDB.

https://github.com/smaxwellstewart/toothache

I called it `toothache` to try and fit in with the awesome Ren and Stimpy naming convention. @hueniverse let me know if you want to reserve names like this for modules that have been devel

[2014-09-17 16:28] nlf opened #46 "Add D4H Technologies to community page"
Moved this from #43 comments, thanks @johnbrett.

**Company Name:** D4H Technologies
**Product Name:** Decisions, An Emergency Response Team Management System
**Is it in production or development?:** In production, powering our mobile and web app APIs.
**Contact information for further questions:** john.brett@d4h.org
**Contact information for security alerts:** support@d4h.org, john.brett@d4h.org

[2014-09-17 16:29] #46 closed, assigned to nlf

[2014-09-17 16:38] #45 closed, assigned to nobody

[2014-09-23 16:53] nlf opened #48 "Home page container allows very long lines of text at high resolutions"
Should rework the container a bit to compensate. Low priority.

[2014-10-02 23:17] hueniverse opened #51 "hapiDay on front page"
Doesn't make sense for the event to take over the front page. It needs its own page. @nvcexploder @nlf

[2014-10-07 10:22] paulovieira opened #53 "The Authentication tutorial is missing something?"
In the authentication tutorial (http://hapijs.com/tutorials/auth) it is said:

[code]

However there is no call to `plugin.auth.scheme` or `server.auth.scheme`.

Am I missing something?

Thanks.

[2014-10-07 10:57] #53 closed, assigned to nobody

[2014-10-10 06:16] hueniverse opened #55 "Replace 'contribute' with new page"
I would like a page that collects all the open issues labelled either 'help wanted' or 'new contributor' and shows them in two lists.

[2014-10-10 13:04] gergoerdosi opened #56 "Update views tutorial"
Hapi v7.0 changed the way how views are configured. This page needs to be updated: http://hapijs.com/tutorials/views

[2014-10-10 16:24] #56 closed, assigned to nobody

[2014-10-10 21:36] #51 closed, assigned to nlf

[2014-10-27 20:26] KyleAMathews opened #62 "Create error handling tutorial"
This is a big plus to using Hapi.js but the information on how to use Hapi.error etc. seems a bit scattered atm.

[2014-10-31 15:39] adambrault opened #64 "hapijs.com/security"
@hueniverse I know you care like crazy about security and must already have a process for this. If I can help, I'd be happy to.

[2014-11-10 18:26] blakmatrix opened #68 "MovingWorlds is using Hapi.js"
I am really happy to show that MovingWorlds is using Hapi :)

**Company name:** MovingWorlds
**Who am I?:** Farrin A. Reid, Director of Engineering at MovingWorlds
**Product name or use case:** MovingWorlds, We use Hapi to power our backend, frontend, and other internal services
**Is it in production or development?:** The product is running in production.
**Contact information for further questio

[2014-11-11 17:56] clarkie opened #70 "Concrete is using hapi"
**Company name:** Concrete
**Product name or use case:** Concrete
**Is it in production or development?** Development but going into production in Jan 2015
**Contact information for further questions:** Andy Clarke (clarkie@concrete.cc)
**Contact information for security alerts:** Andy Clarke (clarkie@concrete.cc)
**Link to logo if we can showcase your comply on the new site:** attached
**User quo

[2014-11-12 01:09] mark-bradshaw opened #72 "American Bible Society is using hapi"
Company name: American Bible Society
Product name or use case: Bible API
Is it in production or development? Development
Contact information for further questions: ballison@americanbible.org
Contact information for security alerts: ballison@americanbible.org
Link to logo if we can showcase your company on the new site: http://www.americanbible.org/img/abs_logo@2x.png
User quote (with attribution)

[2014-11-14 00:19] #68 closed, assigned to nobody

[2014-11-14 00:19] #70 closed, assigned to nobody

[2014-11-14 00:19] #72 closed, assigned to nobody

[2014-11-20 19:09] geek opened #78 "http://hapijs.com/api/v8.0.0-rc2#new-serveroptions failAction missing child elements"
Chrome:

![image](https://cloud.githubusercontent.com/assets/441346/5131216/7150fc84-70b6-11e4-846c-649d6d193c69.png)

[2014-11-24 18:06] nlf opened #80 "http://hapijs.com/api#built-in-handlers markdown rendering is broken"

[2014-11-24 18:08] #80 closed, assigned to nlf

[2014-11-30 20:38] richsad opened #85 "Evaluating Hapi for use at Jibo"
Hi, My name is Rich Sadowsky. I am responding to your request that we provide usage info by opening an issue here. I'm Chief Architect Cloud at Jibo, Inc., makers of the world's first family robot. I want to be clear that I am still evaluating Hapi and have not officially started development with it. But my instincts tell me this is the right framework. I am eager to evaluate 8.0 but currently npm

[2014-12-09 23:20] #31 closed, assigned to nlf

[2014-12-09 23:20] #55 closed, assigned to nobody

[2014-12-09 23:20] #78 closed, assigned to nlf

[2014-12-10 08:16] hueniverse opened #96 "Auth tutorial contains server.pack.register"

[2014-12-10 17:10] #96 closed, assigned to nobody

[2014-12-10 21:04] hickeyadamc opened #98 "hapijs getting started tutorial: Invalid monitorOptions options reporters is required"
Hello!

The getting started tutorial http://hapijs.com/tutorials isn't working with node 0.10.33, hapi 8.0.0, and good 5.0.0.

Here's the error:

[code]

And here's server.js:

[code]

[2014-12-10 21:23] #98 closed, assigned to nlf

[2014-12-12 18:34] hickeyadamc opened #102 "Authentication tutorial error: value must be an object, undefined handler"
Hey!

The Authentication tutorial gives the error: Invalid server options 3000, value must be an object.

Copy pasted from tutorial:

[code]

That error can be fixed by changing:

[code]

Which results in a new error:

[code]

[2014-12-12 21:42] #102 closed, assigned to nlf

[2014-12-22 16:34] nlf opened #113 "add redirects from old api urls to new format"

[2014-12-22 16:35] #113 closed, assigned to nlf

[2014-12-30 04:42] rutaihwa opened #115 "Bad credentials"
Hello,
Trying to run hapijs.com, after npm install and make I get this response when visiting /

401
{ message: 'Bad credentials',
  documentation_url: 'https://developer.github.com/v3' }

[2015-01-02 09:01] sfabriece opened #116 "Best practices for structuring a Hapi rest api server"
Hi,
I've been looking for examples of Hapi projects that demonstrate how to structure an an rest api service.
By structure, I mean where to put different components of the app. To make it easier to test and extend.

Any help here would be appreciated.

[2015-01-02 13:42] jaw187 commented on #116
You'll want to check out the code in https://github.com/hueniverse/postmile-api

Here is a recent blog post which might be helpful as well http://rafaelcorral.com/blog/building-a-restful-api-in-node-using-hapi-js-8

[2015-01-02 13:42] #116 closed

[2015-01-02 16:02] sfabriece commented on #116
Thanks :)

[2015-01-07 15:10] jardakotesovec opened #119 "List of useful gists"
Recently I came across few very useful gists, like using bell with auth-cookie together, using socket.io with auth-cookie. How about make new section on website where these examples could live similarly as plugins?

Gists have also star rating, that could be displayed via https://github.com/mdo/github-buttons .

Thoughts?

[2015-01-07 18:40] nlf commented on #119
I had the thought a while back of changing the 'Tutorials' nav link to 'Learn' and also having code snippets available, which I think is almost exactly what you're talking about here.

[2015-01-08 20:27] arb commented on #7
Think we can close this guy up now?

[2015-01-08 20:33] nlf commented on #7
I was planning to keep it open, though I suppose we can also just add this information to the README and close the issue. Likewise for #43

[2015-01-11 16:59] devinivy commented on #119
This would be great.  A huge benefit I see is that the code examples could demonstrate use of community plugins, whereas the tutorials sections is generally just for vanilla hapi code.

[2015-01-11 23:34] AdriVanHoudt commented on #119
:+1:

[2015-01-19 20:45] nlf commented on #115
This is intentional, you need to retrieve your own api key from github and edit the `dev_config.json` file and put it there. The README should be updated to reflect this though.

[2015-01-19 20:52] nlf commented on #115
Closed via 253b077158491010e922eea6f34ffd9831690244

[2015-01-19 20:52] #115 closed

[2015-01-19 20:55] #85 closed

[2015-01-19 20:56] nlf commented on #85
Rich,

I went ahead and added your information. Let us know when we can include your logo, and also if you'd like to change your quote later. Thanks!

[2015-01-20 03:26] rutaihwa commented on #115
Thanks

[2015-01-21 16:45] manonthemat commented on #2
+1 for swag

[2015-01-21 16:47] minustime commented on #2
+1

[2015-01-21 16:50] manonthemat opened #131 "Helper Tutorial"
I just browsed the website and I kinda missed a tutorial on helper methods. It doesn't have to be its own page, maybe as a subsection for the views page.

What would be a good example to include in the documentation?

[2015-01-21 18:05] nlf commented on #131
Do you mean view helpers? Or server methods? Server "helpers" were deprecated some time ago in favor of server methods, which do have a tutorial. View helpers aren't covered though, and would be a great addition in a pull request.

[2015-01-21 18:18] manonthemat commented on #131
Good question! I should have been more clear.
I do mean view helpers. What do you think would be a good example?

[2015-01-21 19:20] AdriVanHoudt commented on #2
:+1: for stickers

[2015-01-21 19:35] nlf commented on #131
I'm not sure, honestly. I've never used view helpers myself..

Would probably be simplest to add it on to the views tutorial that already exists, and just make up a simple helper that does something very simple and clear to show how it all ties together.

[2015-01-22 02:14] manonthemat commented on #131
I think I know what I'm going to write. I shall send a pull request within the next 24h.

[2015-01-22 04:21] manonthemat commented on #131
pull request https://github.com/hapijs/hapijs.com/pull/137 for a view helpers tutorial. Example is a random "fortune".

[2015-01-22 04:21] #131 closed

[2015-01-22 18:34] lkptrzk opened #138 "Examples of init scripts/deployment setups for various systems"
from https://github.com/hapijs/discuss/issues/78#issuecomment-71066136

[2015-01-30 18:02] jardakotesovec opened #140 "hapi days videos"
There should be link for hapi day videos somewhere on hapijs.com, probably in help section?

[2015-02-05 12:58] mik01aj opened #141 "`encodeURIComponent` on the "Getting started" page"
Quoted from http://hapijs.com/tutorials:

    handler: function (request, reply) {
        reply('Hello, ' + encodeURIComponent(request.params.name) + '!');
    }

While I agree that rendering user provided data is often a risk, I have big doubts whether the presented method it is really a good idea. It means garbling possibly valid user input such as `John "Johnny" Doe` or `Владимирь`. Shouldn't

[2015-02-07 15:17] sfabriece opened #143 "api filtering in code or db"
I'm implementing a Rest Api and i'm wondering where filtering should happen. In code: by returning the Whole Object and the filtering or by filtering in sql?
Thanks for the help.

[2015-02-07 15:23] AdriVanHoudt commented on #143
I think it would better to ask this
* in https://gitter.im/hapijs/hapi (prefered)
* or here https://github.com/hapijs/discuss

Either way depends on the structure of your code. Perf wise I think sql would be faster but not sure.

[2015-02-07 19:17] #143 closed

[2015-02-10 21:46] csrl opened #144 "milestone/changelog availability"
Currently it seems the best place to find changes to Hapi is in the milestone filter, eg.

https://github.com/hapijs/hapi/issues?q=milestone%3A8.1.0

It'd be nice to have the milestones available from http://hapijs.com/updates

[2015-03-10 00:07] #7 closed

[2015-03-11 20:39] dschenkelman opened #149 "Auth0 using Hapi"
This is the information requested:
* **Company name**: Auth0
* **Use case**: v2 of our API (v1 used express)
* **Environment**: Production (https://docs.auth0.com/apiv2)
* **Contact information**: damian@auth0.com
* **Link to logo**: https://cloudup.com/cmshMvKt2bD
* **User quote**: "hapi's clear structure, in particular its plugin system and request lifecycle, makes it easy for us to separate cut

[2015-03-11 21:07] #149 closed

[2015-03-11 21:10] dschenkelman commented on #149
That was fast, thanks!

[2015-03-11 21:12] nlf commented on #149
:) Thank you!

[2015-03-11 21:17] dschenkelman commented on #149
That was fast, thanks!

[2015-03-11 22:38] hueniverse opened #150 "Change the static list of company logos to randomly selected"
Probably show 10 or 12 logos on the home page. It doesn't make sense anymore to promote any particular company over another.

[2015-03-12 18:06] nlf commented on #150
Closed via #152

[2015-03-12 18:06] #150 closed

[2015-03-12 18:08] nlf commented on #141
The point of the comment wasn't to showcase a perfect method of encoding, but rather to make sure that users are aware that directly rendering user provided data is a bad idea. `encodeURIComponent` is the simplest, most basic method of encoding such data to protect the user so that's what I used as an example. Eventually there will be a security tutorial (see #44) where we can go in to more detail

[2015-03-12 18:08] #141 closed

[2015-03-13 16:40] nlf commented on #144
I like this, maybe it's a better idea to list milestones and their associated issues directly rather than rendering the CHANGELOG.md. This would allow us to not have to rely on the CHANGELOG being kept up to date, as well as making it super easy to link to the milestones from their headers.

Anyone feel like taking this on?

[2015-03-13 18:13] hueniverse commented on #144
I would LOVE to get rid of the changlog file and have the latest always sit here.

[2015-03-27 07:12] pandeysoni opened #157 "Got hapi"
Hi guys we would like you to know that we are using Hapi in a few services of our platform.

Company name: [Cronj IT Technologies Pvt. Ltd.] (http://cronj.com/)
Product name or use case: We use Hapi in Enterprise application
Is it in production or development?: Production.
Contact information for further questions: monu@cronj.com
Contact information for security alerts: monu@cronj.com
Link to logo

[2015-03-30 05:29] briandela commented on #2
Would love to buy a t-shirt if they are available.

[2015-03-30 05:29] briandela commented on #2
and also :+1: for stickers

[2015-03-30 06:32] hueniverse commented on #2
The marks are all under BSD. You are free to create any short designs you want with the logos and make them available via the many online stores that do these kinds of things... There is no one else to produce these at this point. There is no company running this project. It's just us, the community. If you want to see this happens, do it.

[2015-04-04 23:58] olhapi opened #159 "Add mullet to the plugins/boilerplate section"
Hello there. Maybe you can add this boilerplate to plugins section?
https://github.com/lynnaloo/mullet

[2015-04-05 00:17] lloydbenson commented on #159
Not sure how you liked what I did for the description but this is how you would do that PR.

[2015-04-05 00:40] olhapi commented on #159
Thanks. Now I know what to do next time.

[2015-04-05 00:40] #159 closed

[2015-04-06 13:51] lloydbenson commented on #159
I saw you closed this.  Is the description fine or do you prefer something else?  If the description is fine then we can merge in the PR.

[2015-04-07 14:38] olhapi commented on #159
Everything ok. Just want to add this boilerplate to plugins list.

[2015-04-07 18:26] lloydbenson opened #161 "alphabetize plugins"
Need to really alphabetize plugins per the README

[2015-04-07 18:26] lloydbenson opened #162 "remove deprecated good-reporters"

[2015-04-07 18:32] #161 closed

[2015-04-09 17:41] nlf commented on #162
This was done

[2015-04-09 17:41] #162 closed

[2015-04-15 02:49] mtharrison opened #166 "Add a link to hapi.js in Action book"
Would you consider adding a link to the book that I'm writing? http://manning.com/harrison/

There's also an affiliate program that can be worked out with Manning, whereby the project can gain commissions.

[2015-04-15 05:53] hueniverse commented on #166
There are a few ways we can do this. One is to add a books section and list it there along with others in the future. Another is to use a chapter from the book in the tutorials and from that page link to the book where people can learn more. I am sure there are more ideas.

As for the commissions, I don't see a way for us to collect these since that will require someone to receive the funds and de

[2015-04-15 06:59] AdriVanHoudt commented on #166
I would do both. A general page with links to educational materials is helpful. And if the book writer/owner wants to do a PR to the tutorials with a good tutorial and link to the book for further info, I see that as a win win.
As for the commissions, I would prefer it to go to a good cause (dev/js related) or Hapi Swag ;)

[2015-04-15 08:18] goofballLogic opened #168 "getting-started no longer correct?"
The breaking change in good which should have been fixed by pull request "Update good-console example #164" only prevents start-up error. Functionality of the getting-started (logging) tutorial appears to still be broken.

#### Symptoms
Tutorial says
[code]

but this log never appears.

#### Initial analysis
1. hapi seems to now propagate "request" events as "request-internal"
2. good appears not

[2015-04-15 08:58] AdriVanHoudt commented on #168
as you can see in the diff https://github.com/hapijs/hapijs.com/pull/164/files the response even got switched out and request added. Add `response: '*'` to the events and it should work.

[2015-04-15 10:25] mtharrison commented on #166
I'd be very happy to contribute some new tutorial content. For the meanwhile, if we could also have a Books or possibly a more general external learning resources page, as suggested by @AdriVanHoudt, that would be great too. Would you like me to work on a PR for this?

I'll speak to Manning regarding the commissions, it'd be nice to see them go to a good cause.

[2015-04-15 11:35] AdriVanHoudt commented on #166
A PR never hurts ;)

[2015-04-15 12:48] Marsup commented on #166
Asking beforehand neither ;)

[2015-04-15 12:51] AdriVanHoudt commented on #166
true :+1:

[2015-04-15 17:32] #168 closed

[2015-04-15 17:43] #157 closed

[2015-04-15 17:45] nlf commented on #166
Personally, I love the idea of an external resources section. It's something that's been brought up in the past by people looking for somewhere to link to gists and the like. I also really like the idea of having a tutorial that links to the book. Let me know what I can do to facilitate your PR :+1:

[2015-04-15 17:47] nlf commented on #166
Note, see #119 for additional thoughts

[2015-04-16 12:15] mtharrison commented on #166
Thanks @nlf. I'll put something together this weekend.

[2015-04-17 08:29] hueniverse opened #171 "Move changelog generation to site"
Remove the changelog.md in hapi and generate it by the site every time there is a new release. Also, need to change the changes page layout to not center the changes to make it easier to read it.

[2015-04-19 01:15] dhershman1 opened #173 "Issue with calling object in handlebars template"
This is probably just me doing it wrong but it seems like when I am calling a Object from a helper I get no data back, my helper is setup like so:
[code]
while my template does something along these lines:
[code]
I have also tried doing stuff like just `dashboard.status` and `dash.status` I am more than sure I simply am just getting it wrong here.
My server.js views looks like this:
[code]
My fold

[2015-04-21 03:03] hueniverse commented on #173
Wrong place to post this. You should post it again under hapijs/discuss

[2015-04-21 03:03] #173 closed

[2015-04-23 17:41] nlf commented on #166
this is merged and the link is added, thanks again @mtharrison

[2015-04-23 17:41] #166 closed

[2015-04-23 17:41] nlf commented on #119
resources section has been added

[2015-04-23 17:41] #119 closed

[2015-04-23 17:42] nlf commented on #140
do we have links for these? would be a great fit for the new resources section

[2015-04-23 17:43] nlf commented on #138
would be great to have a section of these in the resources page

[2015-04-23 19:56] AdriVanHoudt commented on #140
https://www.youtube.com/watch?v=x7nq3Q0xrEI&list=PLzc1AUDlJ7WvcMnv3NaEwgh0i2nJKl0GX ?

[2015-04-24 00:45] mtharrison commented on #166
Brilliant, thank you for that!

[2015-04-28 02:12] convulsic opened #179 "Request for company addition"
Company name : Convulsic
Product name or use case : Music sales and distribution
Is it in production or development? Development
Contact information for further questions : mail@convulsic.com
Contact information for security alerts : mail@convulsic.com
Link to logo if we can showcase your company on the new site : https://www.convulsic.com/?p=218
User quote (with attribution) about your hapi user

[2015-05-09 14:01] arb opened #185 "Boilerplates"
It might be worth adding a section somewhere to list hapi boiler plates that are available.

[2015-05-09 14:14] gergoerdosi commented on #185
The list is here: http://hapijs.com/plugins#Boilerplate. Or you mean to add it somewhere else?

[2015-05-09 14:55] arb commented on #185
I don't think it really belongs under plugins. Full disclosure I didn't even look at plugins because it doesn't make sense to me for it to be there.

[2015-05-09 15:11] gergoerdosi commented on #185
I agree. I think "Resources" would be a better place, we already have a "Gists and code samples" section.

[2015-05-18 15:16] jmpolitzer opened #186 "Request for company to be added to Community page"
**Company Name:** Octovis
**Product Name or Use Case:** APIs for Telle platform
**In Production or Development:** production
**Contact (for everything):** jay.politzer@octovis.com
**Link to Logo:**  http://d2oxmu7x628pqv.cloudfront.net/light-octovis-trans-long.png
**Quote:** The flexibility and simplicity inherent in hapi’s approach has both sped up our development cycle and eliminated all those w

[2015-05-23 03:14] pon commented on #144
What is the current process for updating the CHANGELOG.md file?

[2015-05-23 06:55] hueniverse commented on #144
I have to manually run `npm changelog` in hapi and commit the change.

[2015-05-28 15:10] #179 closed

[2015-06-01 18:39] #186 closed

[2015-06-01 18:40] nlf commented on #185
moving it to resources makes sense to me

[2015-06-02 07:50] AdriVanHoudt commented on #185
:+1: makes sense to me

[2015-06-04 18:32] #185 closed

[2015-06-05 16:02] nlf commented on #171
to do this, we basically need a server method to fetch a list of closed milestones, and a second server method to turn a closed milestone into a changelog entry (will have to look at how mdchangelog does this).

the first server method should have a relatively short cache, maybe every 15 minutes or so, and the second should have a very long cache (like a year) since that data should never change a

[2015-06-05 17:55] AdriVanHoudt commented on #171
Won't we hit the github API limit with fetching it evrytime?

[2015-06-05 17:59] nlf commented on #171
it doesn't get fetched every time, only when the caching expires, and only one api call will be getting made each time it expires. the generation of changelog segments based on milestones should be cached for a *very* long time. the server makes authenticated requests, so we're allowed a few thousand requests per hour. should be just fine.

[2015-06-05 18:02] AdriVanHoudt commented on #171
Ah like that yeah if I have time I'll take a look at it (probably not this
weekend though)

On Fri, 5 Jun 2015 19:59 Nathan LaFreniere <notifications@github.com> wrote:

[2015-06-15 19:02] victorferraz opened #194 "Translate site for others languages"
Hello, I can help to translate the site for others languages like Portuguese.
Thank you

[2015-07-03 22:26] hueniverse opened #196 "Add plugin docs to API section"
In 9.x, many of the built-in features are moving out and will require loading the plugins directly. This will include **inert** (file and directory handlers), **vision** (view templates), and **h2o2** (proxy). When this happens, the API section of the site will become less useful as those sections of the api document in **hapi** will be removed.

I'd like to see the API section updated to include

[2015-07-14 21:35] nelsonic opened #198 "Does a detailed example Chat app using Hapi.js, Socket.io & Redis qualify as a "Resource"?"
Hi, we made this example app: https://github.com/dwyl/hapi-socketio-redis-chat-example and are wondering if it qualifies for a inclusion in the resources of hapijs.com ...
http://hapijs.com/resources ??
Thanks!

[2015-07-15 14:53] nlf commented on #198
I would say it absolutely qualifies

[2015-07-17 08:30] kevinsimper opened #200 "Improve browsing experience for documentation"
Sometimes it can be really hard to see where properties is belonging to, for example the `server.route` has a lot of nested configuration, and sometimes you miss that it has to nested a chain of properties.

I have missed that `payload.parse` should be inside the `config` object and not as a property inside the `server.route`.

Accordion
https://jqueryui.com/accordion/#default

[2015-07-19 20:21] nelsonic commented on #198
Thanks for confirming @nlf  (_hope you are well!)
@iteles can you please prepare the PR? :+1:

[2015-07-19 23:17] iteles commented on #198
Wonderful, will do! :blush:

[2015-07-20 09:11] sericaia commented on #198
:+1:

[2015-07-20 21:57] kevinsimper opened #202 "Link does not work"
When you go to http://hapijs.com/api#replyproxyoptions there is a broken link

[code]

[2015-07-21 04:28] mtharrison commented on #171
@AdriVanHoudt Still planning on looking at this? If not, I might like to take a stab.

[2015-07-21 04:34] gergoerdosi commented on #202
Looks like this is an issue with the site. It works on GitHub: https://github.com/hapijs/hapi/blob/master/API.md#route.config.proxy

[2015-07-21 18:35] FalloutX commented on #140
Yaa. Adding some Vidoes on HapiJS would be great. I do want to add some videos that I watched while I started doing hapi.

[2015-07-21 19:19] nlf commented on #198
closed via #201

[2015-07-21 19:19] #198 closed

[2015-07-21 19:21] nlf commented on #140
closed via #204

[2015-07-21 19:21] #140 closed

[2015-07-21 22:25] iteles commented on #198
Thanks @nlf, we really appreciate it! :tada:

[2015-07-22 04:18] mtharrison commented on #171
I notice the formatting of the changelog on the site is all messed up (http://hapijs.com/updates). This is because the way this commit message is converted to HTML:

    - [**#73**](https://github.com/hapijs/qs/issues/73) Property 'hasOwnProperty' of object #<Object> is not a function

It's swallowing up the following lists. Is that part of the motivation for this change?

[2015-07-22 07:25] AdriVanHoudt commented on #171
tbh not to much time atm, I do offer my help if you need it though!

[2015-07-22 23:06] diffsky commented on #171
For what it's worth, I've added a `--sanitize` option to `mdchangelog@0.8.0`. That should clean up the list output.

As for the hapijs site, why not make use of the existing mdchangelog package and run it as a job out of bounds of the site serving? `text-align:left` the changelog `div` then get on with more important things?

[2015-07-23 02:44] mtharrison commented on #171
That could potentially be done using a cached server method to run mdchangelog as a child process and collect output from stdout using `--stdout` option. We'd still need to take care of md => html conversion on our end.

Still, the benefit of building the changelog markup ourselves from the Github API are:
- Greater control over appearance
- No need for external tools/child processes
- Remove the

[2015-07-23 05:01] mtharrison commented on #144
Happy to take this on along with #171

[2015-07-23 05:26] hueniverse commented on #144
@mtharrison both assigned to you now.

[2015-07-23 16:08] nlf commented on #144
@mtharrison keep in mind #196 when working on this. would be nice if we had the ability to display changelogs for all the plugins as well, and not just hapi itself.

[2015-07-24 07:33] AdriVanHoudt commented on #171
Yeah then I would go with custom markup, if we may we can borrow some ideas from mdchangelog :P

[2015-07-28 16:44] #171 closed

[2015-07-28 17:26] AdriVanHoudt opened #210 "changelog tweaking"
* center changelog but keep it left aligned
* only show last 5-10 versions (maybe load more button?)

see https://github.com/hapijs/hapijs.com/pull/207#issuecomment-125682108

[2015-07-29 21:28] devinivy opened #213 "8.8.1 API docs are down"
Seeing a string of numbers rather than the API documentation.  http://hapijs.com/api/8.8.1 is broken but http://hapijs.com/api/8.8.0 is fine.  I'm running latest Chrome.  I don't see any failed requests or JS errors in my console.  Curious!

[2015-07-29 21:30] nlf commented on #213
confirmed bug, working on it now.

[2015-07-29 21:40] nlf commented on #213
closed via 89f5af30f31988ada986c90dee8bbae3cdb8d85b

[2015-07-29 21:40] #213 closed

[2015-08-01 14:12] mtharrison opened #215 "Can't click on some footer links"
The "Twitter" and "Need Help" links in the footer can't be clicked because the fixed position sidebar overlaps them. Think a `position:relative` on the footer should fix it.

![screen shot 2015-08-01 at 15 11 23](https://cloud.githubusercontent.com/assets/916064/9022117/9b4e7a36-385f-11e5-8322-e1e859e1d41d.png)

[2015-08-07 13:23] devinivy opened #217 ""Lint" the tutorials"
I think it would be worthwhile to ensure that all the tutorials abide by the hapi style guide.  I see some minor lapses, such as missing new lines at the top of function definitions.  Might feel nice for it to be totally consistent :)

Anyone know if there's a way we can leverage lab to lint the inline code examples?

[2015-08-07 13:25] mtharrison commented on #217
Read my mind :+1:  was just going to submit this issue

[2015-08-08 21:13] devinivy commented on #217
It's a little loosey-goosey right now, but I have something that to look at.  It's linting "js"/"javascript" fenced code blocks within the markdown files via lab with correct line numbers:
[code]

We'll have to account for partial code examples somehow– it's common to run into parse errors since code examples aren't always proper javascript.  Someone has made some ground transforming code examples

[2015-08-08 21:39] nlf commented on #217
So originally the tutorials all followed the style guide, but Eran and I decided the whitespace was a bit much for viewing purposes. Everything else should follow the guide though

[2015-08-09 00:19] devinivy commented on #217
Should it be two spaces?  Three?  I saw some examples with three spaces.  We can override the hapijs lint rules specifically for markdown files within this repo– we just need to decide on the rule exceptions.

[2015-08-09 17:04] hueniverse commented on #217
I would apply the style guide except the empty lines rule

[2015-08-10 19:07] hueniverse opened #220 "/sponsors"
Need a new page to list module sponsors. This will be linked to from the main header. The page should have two sections, current sponsors and alumni sponsors. It should feed off a JSON document where lead maintainers can PR changes. The logo images for this page should be stored in the site images directory under /sponsors prefix.

[2015-08-12 07:54] mtharrison opened #221 "Updates page shows milestones in incorrect order"
Milestone 9.0.0 is lower down on the page than 8.8.1 because it has a lower ID number (it was created before). I will address this in a separate PR by using the node semver module to sort the milestones.

![screen shot 2015-08-12 at 08 57 31](https://cloud.githubusercontent.com/assets/916064/9219100/4d40a480-40d0-11e5-8db3-21b9e058da23.png)

[2015-08-12 07:57] mtharrison commented on #144
I think this is resolved now with changelog updates so closing.

[2015-08-12 07:57] #144 closed

[2015-08-12 08:09] AdriVanHoudt commented on #144
only it does not have 9.0 atm because of the cache time

[2015-08-12 08:10] AdriVanHoudt commented on #221
ow lol did not even see that, disregard my other comment on 9.0 not being included yet :P

[2015-08-12 08:15] AdriVanHoudt opened #223 "Some sub-updates don't show"
see hapijs.com/updates the 9.0 milestone
![](http://puu.sh/jyAz0/ab7a904e46.png)
![](http://puu.sh/jyAzD/3dc019d5d1.png)

[2015-08-12 08:25] mtharrison commented on #223
The content one is because 1.0.2 is still open: https://github.com/hapijs/content/milestones
The subtext one is because it should be `to x.x.x from x.x.x`

We could address both issues maybe by:

 - Include still open milestones for deps (maybe we shouldn't do this though. If it's been released I'm guessing milestone should be closed)
 - Expand the regex to capture this pattern if it's a common on

[2015-08-12 08:37] AdriVanHoudt commented on #223
opened https://github.com/hapijs/content/issues/6
and I guess it would be nice to allow `from ... to ...` and `to ... from ...` seems logical

[2015-08-12 09:01] mtharrison commented on #223
I updated the regex in a PR
![screen shot 2015-08-12 at 10 00 51](https://cloud.githubusercontent.com/assets/916064/9220258/12848a42-40d9-11e5-92ee-c69d6381dcc6.png)

[2015-08-12 09:27] AdriVanHoudt commented on #223
:+1:

[2015-08-12 10:00] AdriVanHoudt commented on #223
Content should be fixed now, milestone was closed

[2015-08-12 15:00] hueniverse commented on #43
Need to clone it and replace with text on the site telling people how to get added.

[2015-08-12 15:01] hueniverse opened #225 "Add inert, h2o2, and vision to plugins"

[2015-08-12 15:03] hueniverse opened #226 "Add a cookbook section"
We need a simple "how do I ____?" section where we cover all the common questions.

[2015-08-12 15:05] hueniverse opened #227 "Modules API area"
We need each module to have a new API.md file and the site to automatically render those under the /api area (within or under /api/module). This is critical now that the inert, vision, and h2o2 docs are no longer available on the site.

[2015-08-12 15:07] AdriVanHoudt commented on #227
Would including the readme also not be helpful? (since in most cases the api.md will be the readme?)

[2015-08-12 15:08] AdriVanHoudt commented on #226
Any samples to start working with?

[2015-08-12 15:24] hueniverse commented on #227
Hence my suggestion to move all that to a new API.md file

[2015-08-12 15:28] hueniverse commented on #223
Is this resolved?

[2015-08-12 15:31] hueniverse commented on #226
- how to serve a file?
- how to serve a directory?
- how to proxy to another server?
- how to render a view with a template language?
- how to set up a cookie-based session?

etc.

[2015-08-12 15:31] hueniverse commented on #226
Think of it as stackoverflow style Q&A but edited.

[2015-08-12 15:32] #221 closed

[2015-08-12 15:44] AdriVanHoudt commented on #226
ah like that

[2015-08-12 15:46] AdriVanHoudt commented on #223
#224 should have yes (not tested)

[2015-08-12 15:47] AdriVanHoudt commented on #227
I saw the discuss issue afterwards ^^ but why not just use the readme's instead of moving to api.md?

[2015-08-12 16:09] hueniverse commented on #223
Please close when confirmed.

[2015-08-12 16:09] hueniverse commented on #227
Because the readme includes all sorts of other crap.

[2015-08-12 17:09] Marsup commented on #223
I've redeployed the site, is it fixed ?

[2015-08-12 17:18] mtharrison commented on #223
Looks fixed. Thanks.

[2015-08-12 17:18] #223 closed

[2015-08-12 18:16] devinivy commented on #227
For simple APIs, it's nice for the APIs to be inline in the readme for ease-of-use.  It also puts usage examples into context.  Would we consider the option of ripping "##API" sections out of the readme?

[2015-08-12 19:02] lloydbenson opened #228 "fix homepage example with hapi 9.x.x"

[2015-08-12 19:23] #228 closed

[2015-08-12 20:07] AdriVanHoudt commented on #227
Yeah I am also for a readme with api section, otherwise you will also lose all the info on the npm website

[2015-08-12 21:27] hueniverse commented on #227
There is value is making people always go to the site instead of readmes. If someone wants to code this and make it work with readmes, I don't have any objections.

[2015-08-12 23:01] AdriVanHoudt commented on #227
If it works with readme's it works with api.md right. I'll add it to my 'if I have free time' list

[2015-08-13 06:51] AdriVanHoudt opened #231 "Link release notes"
It seems for some people (espacially newcomers) it is hard to find the release note. The new updates helps but does not include the actual release note.
Would it be possible to link the issue with the matching milestone and `release notes` label to the milestones on the /updates page?

[2015-08-13 06:52] AdriVanHoudt commented on #231
see https://github.com/hapijs/hapi/issues/2682#issuecomment-130557398

[2015-08-13 06:55] Marsup commented on #231
Let's ignore "release notes" in the changelog and put it next to the version number ?

[2015-08-13 07:09] AdriVanHoudt commented on #231
I think matching on milestone + tag is more reliable than title no?

[2015-08-13 07:10] Marsup commented on #231
I wasn't talking about text matching, gh labels.

[2015-08-13 07:11] AdriVanHoudt commented on #231
ah yes than we are on the same page, i think :D

[2015-08-13 10:59] #210 closed

[2015-08-18 15:09] tanepiper opened #232 "Got hapi: Add Pebble{code} to Hapi community"
As per #1613

Company name: Pebble{code}
Product name or use case: Used in development of client front-end portals, middleware and microservices.
Is it in production or development: In various stages of production and development
Contact information for further questions: hello@pebblecode.com
Contact information for security alerts: tane@pebblecode.com
Link to logo if we can showcase your company

[2015-08-19 07:48] mik01aj commented on #200
+1 +1 +1. The documentation is very hard to read.

Hapi has a lots of alternative-options-in-configs-in-callbacks-to-I-dont-know-what and this becomes overwhelming when the documentation doesn't have a good visual structure. Here's an example of handler options to the `route` method's `handler` option (afaik normally there's a function there, but you can also have an object):

![screenshot 2015-08

[2015-08-19 07:58] kevinsimper commented on #200
@nlf How can we make this happen?

[2015-08-19 08:56] AdriVanHoudt commented on #200
since `app.js` starts with `/* these methods borrowed from youmightnotneedjquery.com */` I assume we need to find a solution without jquery :P

[2015-08-19 09:17] mtharrison commented on #200
I agree that some simple styling would help too. Some subtle borders on the `<ul>`s might improve things:

![screen shot 2015-08-19 at 10 13 12](https://cloud.githubusercontent.com/assets/916064/9352727/6065a9bc-465b-11e5-90ba-3ea34c0c78f5.png)

[2015-08-19 09:29] Marsup commented on #200
Putting "help wanted" suggests that @nlf is waiting for a PR.

[2015-08-19 09:36] AdriVanHoudt commented on #200
@mtharrison nice idea but looks ugly ^^

[2015-08-19 09:39] kevinsimper commented on #200
@Marsup But with no information on what they expect and what they think, it is hard to know if the time spent is worth it.

[2015-08-19 09:42] Marsup commented on #200
That debate is already a good start, if you all converge on a solution I bet it'll take.

[2015-08-22 20:19] hueniverse opened #233 "Document hapi version on tutorials"
Please add a version number to each tutorial showing on hapijs.com. This way people will stop failing to use newer versions of hapi before we get to update all the documentation on the site.

[2015-08-22 21:58] AdriVanHoudt commented on #233
I get where this is coming from but with the same effort you could also just update the docs :P

[2015-08-23 05:36] hueniverse commented on #233
Until the next breaking changes. How about whoever has the time to update the docs does both...

[2015-08-23 08:51] AdriVanHoudt commented on #233
Also an option, how would this work though? Mark unupdated docs? But soms don't need it, might lead to confusion and if you have to over the docs to mark the ones that need updating you might as well update them no?

[2015-08-23 14:46] hueniverse commented on #233
If the tutorial just said "Up to date as of hapi v8.5.x", it will give people an idea of what might be wrong if it doesn't work for them.

[2015-08-23 17:53] dj commented on #200
+1

My team uses hapi and I can report that we all find the documentation to be really difficult to read. I think a good solution would change the documentation from a gigantic unordered list to a more structured documentation format. I'll try to think of a configuration heavy framework like hapi that might serve as an example.

I think that the styling proposed by @mtharrison would be super helpf

[2015-08-23 19:49] AdriVanHoudt commented on #200
@dj I agree my feedback is not super constructive but I am also not a designer ;) I can ask our designer for some ideas if he is willing though

[2015-08-23 21:06] joshvoll commented on #215
let me fix this for you @mtharrison

[2015-08-24 03:40] devinivy commented on #217
I'd like to revive this.  @hueniverse can you be more specific about the eslint or style guide rule you're referring to?  There are several that deal with empty lines.

Do we feel good about using four space indents in the tutorials?  I'm personally partial to that rule respecting the style guide.

[2015-08-24 06:18] hueniverse commented on #217
I think code in documentations is not the same as code in, well, code. I would minimize empty lines. I only use 4 spaces so I would just do that here too unless we are talking about some crazy nested callbacks.

[2015-08-24 11:24] mik01aj commented on #200
@dj http://lesscss.org/features/ is also one long page, but thanks to the navigation on the left it's easy to understand where you are and navigate. I don't think that Hapi docs need some massive restructuring to be readable. And I did give some constructive feedback by pointing out some stuff that is easily fixable:

Plus the side navigation. Imho it's the most important part here.

[2015-08-24 11:45] dj commented on #200
@mik01aj to be honest, I think I skipped over your comment the first time I read this thread (my bad), but I agree with your suggestions.

I think the LESS side nav would go a long way to helping the reader keep track of where they are in long lists of configuration options and agree that changing the typography to better emphasize the hierarchy would go a long way.

I also agree that a 'massive r

[2015-08-24 12:26] AdriVanHoudt commented on #200
yeah I tried just turning of the font definition in css and the default more bolder, less white space font already does a lot, the sidenav that scrolls with you would also do a lot +1 on both

[2015-08-24 12:37] kevinsimper commented on #200
I raised the margin-left from 20px to 30px and then made a `border-left: 1px dashed rgba(0, 0, 0, 0.4);`

It is easier now to follow the lines all way to the top.

![image](https://cloud.githubusercontent.com/assets/1126497/9440202/92957d02-4a6d-11e5-8995-30eb5366aee6.png)

[2015-08-24 12:47] kevinsimper commented on #200
@AdriVanHoudt I just tried `git clone` and after running the commands in the readme, the api page is empty.

[2015-08-24 16:23] AdriVanHoudt commented on #200
did you update the github token? also it takes a while the first time

[2015-08-24 16:53] nlf commented on #200
i originally had the navigation following the user's scroll position, i forget why it was removed but i think it was when i started having github render the markdown to resolve some weird parsing problems.

that said, i think it would be a good idea to put it back. avoiding jquery would be nice, but it's definitely not necessary. mostly i was just trying to keep things fairly lightweight, but that

[2015-08-24 17:14] nlf commented on #233
closed via #234

[2015-08-24 17:14] #233 closed

[2015-08-24 17:48] nlf commented on #217
yeah honestly i think the only rule we need to ignore is the empty lines rule. if we have tutorials that are nesting callbacks far enough for four spaces to be a problem then we should probably rewrite the tutorial's code IMO

[2015-08-24 17:52] nlf commented on #231
generally we only have release notes for major releases, so for minor and patch releases what would we display instead?

[2015-08-24 17:55] nlf commented on #227
i prefer the idea of keeping the API docs in their own file. the site has github pre-render markdown content, which means if we were to use the README instead of API.md we would have to turn around and use cheerio or something to parse the rendered HTML to remove the content we don't want. that gets ugly pretty quick.

i vote keep it simple and add an API.md to all the plugins and just link to it

[2015-08-24 18:08] #232 closed

[2015-08-24 18:25] AdriVanHoudt commented on #231
for patches it is usually 1 or 2 issues/PR's, I think that is manageable to read themselves no?

[2015-08-24 18:26] AdriVanHoudt commented on #227
I follow @nlf on gitter "i think if the readme accurately describes the plugin’s purpose, and has a very clear link to api documentation, it should be fine"

[2015-08-24 18:27] nlf commented on #231
sure. i think we could keep the current layout and just add a "release notes" link next to versions that have an associated release notes issue.

[2015-08-24 18:28] devinivy commented on #227
I imagined culling the markdown from the readme rather than culling the HTML.  It would pull from a section of with a standardized name (presumably, "API").  I'm concerned that especially for the smaller modules with simple APIs, this seeming small change that's being proposed will disproportionately discourage use (and ease-of-use).  I would feel more comfortable with it if a usage example were r

[2015-08-24 18:29] nlf commented on #227
a small usage example in the readme is a good idea, but i think the bulk of the documentation being in API.md makes the most sense.

[2015-08-24 18:34] nlf opened #239 "setup auto deploy"
this is just a tracking issue for myself

[2015-08-24 18:37] AdriVanHoudt commented on #227
there should be a template that module maintainers can copy and use for easiness
something like
[code]

[2015-08-24 18:39] AdriVanHoudt commented on #231
added to my `when I have free time` list ;)

[2015-08-24 18:44] devinivy commented on #217
As far as eslint goes, are you both referring to `hapi-scope-start`?

[2015-08-24 18:45] nlf commented on #217
yeah i think that's probably the only rule we care about ignoring

[2015-08-24 20:10] Marsup commented on #239
Do you plan to cron it or something ?

[2015-08-24 20:11] nlf commented on #239
nah i'll have a hook listening for pushes to master

[2015-08-25 03:51] devinivy commented on #217
Pending PR: #240

[2015-08-25 16:53] #217 closed

[2015-08-26 23:14] maxbeatty commented on #202
Is this still valid w/ the v9 release? I'm having trouble reproducing

[2015-08-26 23:24] nlf commented on #202
proxy support was removed from core, so this is no longer valid

[2015-08-26 23:24] #202 closed

[2015-08-27 20:11] nlf commented on #225
closed via #242

[2015-08-27 20:11] #225 closed

[2015-08-27 20:20] arb commented on #2
Are the logos hosted anywhere in a high enough quality to put on wearables and stickers?

[2015-08-27 20:22] gergoerdosi commented on #2
There is a large version of the hapi logo here: https://raw.githubusercontent.com/hapijs/hapi/master/test/file/image.jpg

[2015-08-27 20:26] nlf commented on #2
this one's an svg so should be good for resizability and whatnot http://hapijs.com/public/img/logo.svg

[2015-08-27 20:49] danielb2 commented on #2
unixstickers.com  is  a place for nice stickers btw. I'd like to see a hapi sticker there myself

[2015-08-27 21:16] nvcexploder commented on #2
I got the original ones at sticker mule. I could just duplicate the order of folks want

[2015-08-27 21:21] maxbeatty commented on #2
@nvcexploder maybe you could list that original one on [Sticker Mule's Marketplace](https://www.stickermule.com/marketplace) so people can order as they like? I could try to create a new sticker and list it here if that's easier

[2015-08-28 00:45] nvcexploder commented on #2
Sure thing! I'll do that as soon as I'm near a computer.

[2015-08-28 00:45] hueniverse commented on #2
@nvcexploder so this comment above was delivered via carrier pigeon?

[2015-08-28 00:46] nlf commented on #2
Ben has the best carrier pigeons in the business

[2015-08-28 07:08] AdriVanHoudt commented on #2
some stickers are gold on there https://www.stickermule.com/marketplace/1580-move-slow-and-make-things

[2015-09-02 07:56] hueniverse opened #248 "9.0.4 seems to break the api page"

[2015-09-02 08:00] hueniverse commented on #248
Ignore me. I messed up the tags.

[2015-09-02 08:00] #248 closed

[2015-09-02 18:59] sandokandias commented on #116
:+1:

[2015-09-03 22:28] #215 closed

[2015-09-12 02:41] jamesdixon opened #252 "10.0.0 API Docs Broken"
I know that the 10.0 release notes mention it being identical to 9.3.1 with the exception of Node 4.0 support, but just wanted to give you a heads up that the API docs for 10.0 are showing up blank.

Great work as always! Thanks!

[2015-09-12 07:42] #252 closed

[2015-09-13 01:47] gergoerdosi opened #254 "Compatiblity with hapi 10"
Many of the tutorials have this line: "*This tutorial is compatible with hapi v9.x.x.*". I assume all these tutorials are also compatible with hapi 10. Should we just bump the version and use "*This tutorial is compatible with hapi v10.x.x.*" or both versions should be shown like "*This tutorial is compatible with hapi v9.x.x and v10.x.x.*"?

[2015-09-13 02:16] devinivy commented on #254
Good point.  I think it should say whatever is most broadly true.  So if it's fine for hapi v9 and hapi v10, then that's what it should claim.

[2015-09-13 08:24] AdriVanHoudt commented on #254
yeah just needs a bump since 10 and 9 are the same, the lts branch will have the docs compatible for lts(9 atm), maybe we can make a page on the website with the lts docs once they start being different

[2015-09-13 17:59] nlf commented on #254
for tutorials, we should keep them up to date with the latest release only (in this case, 10.x). if they happen to be compatible with older versions too, neat. if not, oh well.

i don't want to get into a tangle of having to list every version a tutorial is compatible with. the tutorials and site in general should be focused primarily on supporting the latest versions.

[2015-09-13 18:04] nlf commented on #254
keeping this open until we update all the headers in the tutorials

[2015-09-13 18:22] #254 closed

[2015-09-13 18:24] nlf commented on #239
done

[2015-09-13 18:24] #239 closed

[2015-09-13 18:42] gergoerdosi opened #256 "Links on right side are not scrollable"
The right side of the page contains links to sections, but it's not possible to scroll down there.

http://hapijs.com/api#server

<img width="1280" alt="screen shot 2015-09-13 at 20 40 51" src="https://cloud.githubusercontent.com/assets/371149/9838216/f9a7e68e-5a57-11e5-9145-80febb3d73fa.png">

[2015-09-14 16:20] gergoerdosi opened #257 "License and lead maintainer"
License file is missing from this repository. According to package.json it should be MIT. But I don't know who the copyright holder is (package.json mentions &yet).

Also, there is no information on who the lead maintainer is for this repository. I know it's not a module, but would be good to know who is responsible for making final decisions.

[2015-09-14 16:26] AdriVanHoudt commented on #257
maintainer is @nlf (from &yet) afaik

[2015-09-14 23:42] #231 closed

[2015-09-14 23:44] #257 closed

[2015-09-14 23:47] nlf commented on #256
for me the link section can be scrolled independently from the main content, is that not the case for you? what happens if you hover your mouse over the nav section and try to scroll there? i agree we need to come up with a better fix for the nav issues here..

[2015-09-15 01:52] devinivy commented on #256
I experience this too on Chrome 45.  If the API navigation is expanded beyond the height of the window, then there's nothing you can do to see the those items overflowing the window.

[2015-09-15 07:19] AdriVanHoudt commented on #256
Somehow `column nav-secondary` has `height` and `min-height` that updates as you scroll. When turned off I can scroll but the moment I scroll with the main element(the api text div) it updates again and disables scrolling.

[2015-09-15 14:51] HenrikJoreteg commented on #256
I was just about to go file the same bug, I hit this too in Chrome Version 45.0.2454.85

[2015-09-15 21:44] nlf commented on #256
i just deployed some changes to the nav layout, does that solve this problem for those that reported it? @gergoerdosi @devinivy @HenrikJoreteg

[2015-09-15 21:47] gergoerdosi commented on #256
Yes, it works now! Thanks.

[2015-09-15 21:55] devinivy commented on #256
:+1: fixed!

[2015-09-15 22:05] #256 closed

[2015-09-16 12:27] thefoxis opened #262 "Navigation should be fully responsive"
Currently the navigation drops awkwardly beneath the logo and gets even more misplaced visually as you continue shrinking the viewport before hitting the mobile breakpoint (two lines with siginificant line height). Should have better behavior.

<img width="771" alt="screen shot 2015-09-16 at 14 24 46" src="https://cloud.githubusercontent.com/assets/375731/9904518/b5d153fe-5c7e-11e5-9bc8-d3dbbf9ac6

[2015-09-22 15:06] danielb2 commented on #2
To vote for the hapi stickets on unixstickers.com go here: https://trello.com/c/5iLadkxD/153-hapi-js-stickers

it just got added as an option to vote for

[2015-09-22 15:45] nvcexploder commented on #2
https://www.stickermule.com/marketplace/8560-hapi-dot-js-helmet

These should be available now - sorry it took me so long!

On Tue, Sep 22, 2015 at 8:06 AM, Daniel Bretoi <notifications@github.com>
wrote:

[2015-09-22 17:59] manonthemat commented on #2
Nice sticker! :+1:

[2015-09-22 18:45] AdriVanHoudt commented on #2
Ordered :tada:

[2015-09-22 19:08] nvcexploder commented on #2
Rad!!!

[2015-09-24 12:32] marcuspoehls opened #263 "Request: add Future Studio to hapi community"
**Company Name:** Future Studio
**Product Name or Use Case:** complete Future Studio platform (website, internal API, admin panel)
**In Production or Development:** production :rocket:
**Contact (for information and security alerts):** info@futurestud.io
**Link to Logo:** https://futurestud.io/images/futurestudio-logo-transparent.png
**Quote:** We use hapi to build our Future Studio platform. When

[2015-09-25 15:49] strand opened #264 "Getting Started could ramp up slowly with more narrative"
I was reading over the [getting started](http://hapijs.com/tutorials/getting-started) guide last night and was surprised when the guide jumped from routes to using a plugin for logging. I am completely new to Hapi, and I expected there to be some progression like (strikethrough indicates we have content for this):
- ~~hello world~~
- ~~displaying a static page~~
- displaying a dynamic page (based

[2015-09-25 16:09] lloydbenson commented on #264
I suspect folks would be most welcome to any ideas here on improvement.  Maybe do a PR with a brief outline for feedback?

[2015-09-25 16:43] strand commented on #264
I suspect this will be several PRs, so I'll see if I can write a section about displaying a static page in the next day or two.

[2015-09-25 16:48] nlf commented on #264
That sounds like a perfect approach :)

[2015-10-04 00:05] bricss opened #268 "Footer issue"
Please, fix out the issue with a footer that nailed to the left.

[code]

[2015-10-06 15:13] TrySound opened #269 "Repo images"
Please, move useless images from repos (and npm modules) to your site or some image cdn. Nobody want to load them in every package. Okay, your repos and modules should be deepEqual, but please try to make both more simple and small. It's not too difficult, it's not too long.

[2015-10-06 16:06] nlf commented on #269
I think you may have opened this issue on the wrong repo. Try at https://github.com/hapijs/discuss

[2015-10-06 16:06] #269 closed

[2015-10-06 18:15] hueniverse commented on #269
I think there are nicer ways of saying that too.

[2015-10-13 16:47] #268 closed

[2015-10-21 19:10] #262 closed

[2015-10-22 15:57] #263 closed

[2015-10-26 20:01] jmdobry opened #276 "LICENSE for hapijs.com repository?"
I'd like to submit a documentation update pull request, but per company policy I can't unless this repo has a LICENSE file that spells out, well, the license. Any chance of getting one added? I can submit a PR that adds the same LICENSE file that's in the hapijs repo if that's okay.

[2015-10-26 20:10] AdriVanHoudt commented on #276
you can find the license here: https://github.com/hapijs/hapijs.com/blob/master/package.json#L30

[2015-10-26 21:06] jmdobry commented on #276
Yep I saw that, but unfortunately they're requiring that there be an actual license file in this repository in order for me to contribute.

[2015-10-26 21:14] AdriVanHoudt commented on #276
ok weird policy so are you allowed to do a PR to add the license since technically there is no license yet at that point?

[2015-10-26 21:15] jmdobry commented on #276
Yes

[2015-10-26 23:00] #276 closed

[2015-10-28 18:10] franvarney opened #281 "Fix hover state"
When the location hash is set on the API page, the relevant header gets a weird hover effect.

So navigating to http://hapijs.com/api#serverauthteststrategy-request-next creates this:
<img width="532" alt="screen shot 2015-10-28 at 1 56 49 pm" src="https://cloud.githubusercontent.com/assets/5891549/10798102/509cc300-7d7c-11e5-9ec9-85aa31c7260a.png">

Seems to only happen if you hover on the right

[2015-10-30 22:46] mtharrison opened #285 "Tighten up plugins page whitespace"
The plugins page is getting pretty scroll-tastic. Wonder if reducing some of the whitespace between plugins would make it a bit of a better experience?

![screen shot 2015-10-30 at 22 44 03](https://cloud.githubusercontent.com/assets/916064/10859698/e1cde610-7f57-11e5-979a-be784d0f0ab6.png)

[2015-10-31 02:12] AdriVanHoudt commented on #285
:+1:

[2015-11-03 10:33] Marsup opened #287 "No issues associated with milestone"
[code]

[2015-11-03 11:04] AdriVanHoudt commented on #287
wait isn' this `no milestone found for milestone in title of issue`? since https://github.com/hapijs/hapijs.com/blob/master/lib/changelog.js#L209

[2015-11-03 11:38] Marsup commented on #287
There was actually 2 stack traces, copied the wrong one.

[2015-11-03 11:39] Marsup opened #288 "Connection error unhandled on changelog.getMilestoneNumberFromTitle"
[code]

[2015-11-03 11:42] Marsup commented on #288
Maybe #287 is a consequence of this.

[2015-11-03 11:44] #288 closed

[2015-11-03 11:45] Marsup commented on #287
Closing until this happens again in case #288 fixed this.

[2015-11-03 11:45] #287 closed

[2015-11-04 03:50] danecando commented on #220
After adding sponsors to the header menu there's a break between 1201 & 1289px's before the mobile menu kicks in. Is there something specific you would like to do about this? IE: Scale down the logo, menu font size or spacing

![Uploading Screen Shot 2015-11-03 at 10.18.28 PM (2).png…]()

[2015-11-04 04:39] franvarney commented on #220
@nlf and I discussed possibly making the menu two rows

[2015-11-04 04:44] danecando commented on #220
That doesn't sound like a bad idea either! If you do decide on something let me know I'll be glad to make a PR. Already mostly done just figured I'd bring this up.

[2015-11-05 16:05] nlf commented on #220
yeah i think the two row menu is the way to go for now, we just have too much going on in the menu to keep it at one row neatly now

[2015-11-06 03:22] danecando commented on #220
More of a set two rows instead of them breaking into a second as it gets smaller? I did this example with some css without changing the markup to reflect two rows.

<img width="1440" alt="screen shot 2015-11-05 at 10 18 41 pm" src="https://cloud.githubusercontent.com/assets/3721977/10988591/a1af7d6a-840b-11e5-9178-d6a486374d46.png">

[2015-11-06 03:23] hueniverse commented on #220
Maybe we have too many now and should move to a sidebar or sub menus?

[2015-11-06 03:44] danecando commented on #220
There's a lot of room in the header section

<img width="1440" alt="screen shot 2015-11-05 at 10 42 58 pm" src="https://cloud.githubusercontent.com/assets/3721977/10988894/aa16d82e-840e-11e5-8cb1-84fa6ae5ea8b.png">

[2015-11-06 07:48] AdriVanHoudt commented on #220
@danecando I like what you did there, maybe the top menu in black is not super clear but looks good nonetheless

[2015-11-06 13:33] franvarney commented on #220
Agree with @AdriVanHoudt about the black. Doesn't look like something that is clickable. However, I think this is definitely the right direction!

[2015-11-06 14:23] danecando commented on #220
*feelings hurt*

kidding of course.

Yeah was just tweaking around in dev tools to try to present some options. An extra sidebar menu could be nice. IE: Move the smaller nav with the blank links from my prev screenshot above or below the search box but then only a few pages actually have a sidebar and I don't think it would be great to shoehorn one in.

I'll see what I can come up with later on to

[2015-11-12 20:37] alanleite opened #292 "Translation to Portuguese"
Hi guys,

Recently we the NodeBR Group translated the ExpressJS documentation to Portuguese. We would like to do the same for Hapi docs. How can we start this project?

Best,

[2015-11-13 08:07] hueniverse commented on #292
That's tricky because the API docs are generated automatically from the hapi API.md file (same for all other hapi modules). Express rarely changes so it's practical to do that there, but we change the API on a weekly basis which means you will have very stale translations. I would suggest focusing on the tutorials and site in general first.

[2015-11-13 12:22] alanleite commented on #292
I see...

If we going to starting the translation from tutorials, we will first work with 'lib/tutorials' files.

First, fork the project and create /lib/tutorials/pt-BR, right?

After this we need to create a redirect on website for portuguese version.

I'm thinking the right way?

Best,

[2015-11-13 17:02] hueniverse commented on #292
I'd leave the mechanics to @nlf

[2015-11-13 17:04] nlf commented on #292
I think your hunch at a first jab is right on. Go ahead and fork and start translating and we'll sort out how to make it accessible :)

[2015-11-13 17:13] alanleite commented on #292
Thank you
Let's make Hapi easy for Brazilian beginners!
We'll start the translations.
Best.

[2015-11-23 15:04] alanleite commented on #292
We finished. And pull-request has been created.

[2015-12-11 11:14] zardoz opened #302 "New company"
**Company**:  JJ Foodservice Ltd
**Product name or use case** : JJ Foodservice E-commerce system middleware
**Is it in production or development?**: Production
**Contact information for further questions** Jason Lane jason.lane@jjfoodservice.com
**Contact information for security alerts**: Jason Lane jason.lane@jjfoodservice.com
**Link to logo**: https://www.jjfoodservice.com/images/Logo/jjfs.png

[2015-12-11 12:07] #302 closed

[2015-12-18 08:40] Marsup opened #306 "Link to breaking changes"
Following a discussion on gitter, it seems we're doing a bad job at showing breaking changes for users not following closely the project or upgrading from old versions.

We could either link to the release notes on github or parse them to show it on the websites, what do you think ? Other ideas ?

[2015-12-18 08:44] hueniverse commented on #306
Sounds like a good idea.

[2015-12-18 09:34] AdriVanHoudt commented on #306
The release notes are on the updates page but maybe make them more visible and link to the updates page from the readme?

[2015-12-18 09:38] Marsup commented on #306
They are, but spread over several pages. Imagine having to go from 8 to 11 without knowing how we use labels in the org, not that easy.

[2015-12-18 09:41] AdriVanHoudt commented on #306
hmm true, maybe link to major releases on the left (a menu like on /api) with links to the release notes?

[2015-12-18 14:15] nlf commented on #306
yeah, i think a small "release notes" section above the full changelog on the updates page would make sense

[2015-12-18 15:03] devinivy commented on #306
Although I send people to the website and like to think that the website is the clear go-to for hapijs information, I think we might need to be more overt/explicit in the readme about where to find certain crucial information.  I imagine people will putz around github for ages (not understanding our system) before going to the site.  Most framework sites aren't as extensive as hapijs.com.

[2015-12-19 11:16] SanderElias commented on #306
HI, I was the one raising the issue.
@AdriVanHoudt, That would be a good place. Also a remark that the breaking changes are (very well) documented in there would help some people.

[2015-12-19 11:57] AdriVanHoudt commented on #306
I saw something pass by on Bitter :P how would you place that remark?

[2015-12-21 12:56] SanderElias commented on #306
@AdriVanHoudt:  "Major versions Release notes including breaking changes"?

[2016-01-05 08:14] AdriVanHoudt opened #316 "changelog only shows changelog for other hapi repos from closed milestones"
see https://github.com/hapijs/hapijs.com/blob/master/lib/changelog.js#L29
this causes the 'sub changelog' to not show when the maintainer forgets to close the milestone
current example in 12.x milestone ![](http://puu.sh/mkeok/9bef25cfb0.png)

2 solutions:
- leave like is and open issues on the repos where the milestone is not closed
- remove the requirement and be looser and show the changelog an

[2016-01-06 16:11] tomleo opened #317 "npm start?"
In `getting_started` tutorial there is the following paragraph

[code]

When I enter `npm start` in the command line I get the following

[code]

The homepage recommends "Launch the application by running `node .`" which works for me. So I'm confused about the alternate way to start the application via the node package manager.

[2016-01-06 16:13] Marsup commented on #317
LGTM : https://github.com/hapijs/hapijs.com/blob/master/package.json#L22

[2016-01-06 16:13] gergoerdosi commented on #317
Have you saved the file as `server.js`?

[2016-01-06 17:06] nlf commented on #317
yeah, if the instructions are followed you would save the file as `server.js`, and `node server` happens to be npm's default start script if one is not specified, so it should just work.

[2016-01-06 17:51] tomleo commented on #317
Ahh my mistake (still learning js), The `npm init` utility has a default "entry point" of `index.js`. The home page also says:

[code]

so that was the file I created. Moving that file to `server.js` makes `npm start` work. I think the home page should suggest creating a file called `server.js` instead of `index.js` to avoid confusion if a person then jumps into the tutorial.

[2016-01-06 17:51] nlf commented on #317
I agree :) we'll get that changed

[2016-01-06 17:58] Marsup commented on #317
I don't get it, there's already a server.js, start script runs it, am I missing something ?

[2016-01-06 18:03] nlf commented on #317
He's talking about the guide on the front page, it's inconsistent with the getting started tutorial

[2016-01-15 17:52] #285 closed

[2016-01-15 17:52] #317 closed

[2016-01-15 17:54] nlf commented on #316
yeah.. we could probably change this to show sub changelogs even if the milestone is still open, though plugin maintainers should probably be closing their milestones :)

[2016-01-17 09:23] AdriVanHoudt commented on #316
we could also show not closed milestones and show it somehow in the changelog?

[2016-01-20 01:39] devinivy opened #325 "Upgrade eslint-plugin-markdown to v1"
We currently install eslint-plugin-markdown from github.  Now it's published as v1-beta on npm.

[2016-01-24 14:10] theotow commented on #200
To push this a little, i also had trouble getting through those huge amounts of text to find a specific setting.

Currently:
the docs are separated in text that describes object keys verbose +  example code snippet

Idea:

[code]
This would involve

1. Showing the full config object prepopulated with every possible key and default value + very short description or cross reference to corresponding

[2016-01-30 23:50] #281 closed

[2016-02-05 23:14] noppanit opened #329 "Is there anyway to unescape query parameter for every request"
Right now we're unescaping in the route but just wondering if hapi has some kind of a filter before it goes to the route so I can just do it in one place?

This is what I'm doing right now.

[code]

[2016-02-05 23:23] jaw187 commented on #329
Have you looked into Joi validation?

On Fri, Feb 5, 2016, 6:14 PM Noppanit Charassinvichai <
notifications@github.com> wrote:

[2016-02-05 23:27] noppanit commented on #329
We're using Joi but not sure if Joi can automatically do that?

[2016-02-06 01:53] jaw187 commented on #329
https://github.com/hapijs/joi/blob/master/API.md#dateiso

[2016-02-06 05:27] noppanit commented on #329
I thought that was just validation and not unescaping the query string?

[2016-02-07 10:04] hueniverse commented on #329
Please post questions in hapijs./discuss, not here.

[2016-02-07 10:04] #329 closed

[2016-02-10 18:46] vitorbaptista opened #333 "Fix directory structure consistency in Views tutorial"
There are a few parts that you use a `templates` base directory, as in the first code block:

[code]

In other parts, you use `views` as a base directory:

[code]

Considering that you use `templates` as a base directory in this repository, I would guess that's what you recommend. I'd be happy to send you a pull request if that's the case :+1:

[2016-02-13 07:30] alexandresaiz opened #335 "Add microapps to ../community"
Company name: **microapps**
Product name or use case: **[MONEI](http://monei.net)**
Is it in production or development? **It's in production**
Contact information for further questions: **hi@mcroapps.com**
Contact information for security alerts **hi@microapps.com**
Link to logo if we can showcase your company on the new site:
http://site-cdn.microapps.com/wp-content/uploads/2015/12/microapps.svg

[2016-02-23 16:22] danielb2 opened #339 "Tools/utilities that don't fit as plugins"
I wrote a tool called hapi-runplugin specifically to easily list what endpoints are returned by running a given plugin. When things are organized in different repos and they are re-used and it's not always sensible to test something via a server, this comes in handy.

Regardless, the webpage has a plugins section, but no section for tools. A composer like Glue is a tool like this which also has va

[2016-02-23 16:45] Marsup commented on #339
Boilerplates are in the section resources, what would you think about putting tools there too ? Seems similar.

[2016-02-23 16:48] danielb2 commented on #339
That works. I don't think tools have enough stuff to warrant it's whole own section

[2016-02-24 22:37] danielb2 commented on #339
I'll just submit a PR to put that in and close this for now.

[2016-02-24 22:37] #339 closed

[2016-02-24 22:52] nlf commented on #333
feel free to send a pull request for any changes to the tutorials that you see fit :)

[2016-02-24 22:53] nlf commented on #325
PR?

[2016-02-25 20:48] #333 closed

[2016-02-26 14:00] devinivy commented on #325
PR #341 posted.  Sorry about the delay– I was sort of thinking it would make its way out of beta quickly, but it didn't!

[2016-02-26 18:37] #325 closed

[2016-02-27 11:25] stefk opened #343 "Consistent use of arrow functions ?"
Hi,

I'm just discovering hapijs and I'm little confused by the mix of es6 and es5 styles in anonymous function declarations in the documentation. Is there a reason why, for example, route handlers never use the arrow syntax? It doesn't seem so at first sight, but I may overlook something.

[2016-02-27 13:22] mtharrison commented on #343
You probably shouldn't use arrow functions as route handlers. hapi relies on being able to bind `this` to whatever it wants inside a handler (see [`server.bind()`](http://hapijs.com/api#serverbindcontext)). You can't bind `this` for arrow functions. see:

[code]

[2016-02-27 13:49] Marsup commented on #343
I think he refers to snippets on the website so it's probably OK here.

[2016-02-27 14:23] stefk commented on #343
I thought it could be a documentation issue, because arrow functions can actually be used in most of the examples. Thanks for the explanation!

[2016-02-27 14:23] #343 closed

[2016-03-06 12:11] Nargonath opened #346 "Broken link in Plugins section"
The third plugin [hapil18n](https://github.com/gpierret/hapi18n) in the Localization/Internationalization section sends to a 404 and the Github user as well. I guess it should be deleted from the section.

I can submit a PR for it if you want if it has not been done already.

[2016-03-06 13:07] Marsup commented on #346
There's his contact info on npm, you could try to contact him 1st see if he moved those projects.

[2016-03-06 15:52] Nargonath commented on #346
@marsup Fair enough, I'll do that and let you know where it ends up.

[2016-03-06 16:00] Nargonath commented on #346
@marsup Just tried to send an email to the email address linked in his npm account but I got a "Delivery to the following recipient failed permanently". I guess it doesn't exist anymore. Shall I delete its entry in the documentation?

[2016-03-06 16:24] Marsup commented on #346
Wow, he really vanished. Let's wait a bit, some github profiles disappeared and came back in the last few days.

[2016-03-07 09:07] Nargonath commented on #346
Ok, let's do that.

[2016-03-13 22:01] toddmedema opened #349 "Company using Hapi: PARSEC"
Company: PARSEC - http://parsec.media

Use case: Delivering millions of ads to mobile devices and delivering analytics to clients.

Used on multiple production services.

Contact info for questions and alerts: todd@parsec.media

Logo:
![parsec-logo](https://cloud.githubusercontent.com/assets/775657/13731672/9437cfd0-e945-11e5-9a3c-95af317a7515.PNG)

Quote: "The simplicity and power of Hapi has ena

[2016-03-19 18:36] mtharrison opened #352 "Updates page lists closed (unmerged) PRs as being Merged PRS and includes in count"
![screen shot 2016-03-19 at 18 34 46](https://cloud.githubusercontent.com/assets/916064/13900560/71744d1e-ee01-11e5-8344-1ba5a5be2422.png)

[2016-03-21 23:37] Nargonath commented on #346
@Marsup I just checked and the github profile + repo still pointing to a 404. Should I submit a PR?

[2016-03-22 06:28] Marsup commented on #346
Go for it.

[2016-03-24 00:03] #346 closed

[2016-03-24 23:49] dylancwood opened #355 "No output validation mentioned in validation tutorial"
http://hapijs.com/tutorials/validation
Happy to contribute content if I get a :+1:

[2016-03-24 23:50] nlf commented on #355
pull requests to the tutorials are *always* welcome

[2016-03-25 21:39] #355 closed

[2016-04-02 03:39] jkup commented on #335
I'm looking to get started helping out with Hapi! Are these "add to community" issues ok to be turned into PRs?

[2016-04-02 06:22] hueniverse commented on #335
@jkup yep

[2016-04-02 07:02] alexandresaiz commented on #335
Thanks for adding our project!

[2016-04-02 14:17] nlf commented on #335
closed via #359

[2016-04-02 14:17] #335 closed

[2016-04-03 11:22] #349 closed

[2016-04-06 04:32] johnmanko commented on #200
It would be better to add a sidebar nav similar to Bootstrap's docs:
https://getbootstrap.com/components/#nav

[2016-04-08 18:50] nlf commented on #352
was fixed by #353

[2016-04-08 18:50] #352 closed

[2016-04-14 02:11] clohr opened #366 "Free People gets hapi"
**Company name:** Free People
**Product name or use case:** https://www.freepeople.com
**Is it in production or development?** Production
**Contact information for further questions:** clohr@freepeople.com
**Contact information for security alerts:** clohr@freepeople.com
**Link to logo if we can showcase your company on the new site:** https://www.freepeople.com/client/dist/images/fp-logo.png
**Us

[2016-04-14 18:21] lucassimibueno opened #367 "Cannot access hapi 7.x.x API docs"
I'm trying to access API docs from hapi 7, but all http://hapijs.com/api/7.x.x pages do not show anything.
I'm able to see other versions docs like 6, 8, 9 and so on.

[2016-04-14 19:17] #367 closed

[2016-05-04 00:44] #366 closed

[2016-05-09 15:30] nlf opened #374 "getting started tutorial needs update for good@7.x.x"
The tutorial currently doesn't work since the parameters for good have changed. This is a good one for a new contributor to pick up :)

[2016-05-09 15:30] arb opened #375 "Good Tutorial Update"
Update the existing good tutorial to be in line with version 7.

[2016-05-09 15:30] nlf commented on #375
mine was first i won neener neener

[2016-05-09 15:30] #375 closed

[2016-05-16 14:54] arb opened #378 "Move to Pug"
Jade has been renamed/replaced with Pug. We should probably make that move as well.

[2016-05-17 01:49] cube5 commented on #374
Hi! I would like to contribute, can I work on it?

[2016-05-17 07:15] AdriVanHoudt commented on #374
@cube5 you sure can! 👍

[2016-05-17 16:00] #374 closed

[2016-05-18 07:58] davidjamesstone opened #380 "Testimonial - GOV.UK"
The [Flood warning service](https://flood-warning-information.service.gov.uk/) site that provides a service to users looking for flood information in the U.K.

This is a very busy service during wet periods and is a flagship site for the Environment Agency.

We have recently moved from Express to hapi - a really great experience.

I wondered if you would like to use our success story in your testi

[2016-05-18 08:19] mtharrison commented on #380
Cool!

[2016-05-18 08:29] davidjamesstone commented on #380
Thanks!

Here's the [code](https://github.com/EnvironmentAgency/live-flood-warnings) if you're interested.

We now have 3 hapi-based products, one in development and we're banging the drum to get other teams and gov departments on board.

[2016-05-19 11:00] #380 closed

[2016-05-19 11:01] Marsup commented on #380
@nlf add him to the security ML ?

[2016-05-19 18:15] sjmcdowall opened #382 "Getting Started Tutorial breaking with Good"
Looks like good made a breaking change -- and you get an error now with ops.interval not defined or whatever.. Anyway it looks like we need to have 👍
    ops: {
        interval: 1000
    },

in the config area now ..

[2016-05-19 18:40] lloydbenson commented on #382
I think that is likely a bug @arb?

[2016-05-19 21:55] arb commented on #382
Yeah there's an open issue over [here](https://github.com/hapijs/good/issues/487)

[2016-05-19 22:52] arb commented on #382
Version 7.0.1 published; this should no longer be a problem.

[2016-05-19 22:52] #382 closed

[2016-05-22 12:50] gergoerdosi opened #383 "Resources side panel has spaces in links"
[code]

[2016-05-23 13:29] jhawlwut opened #384 "hapi Community Addition"
**Company name**
Liaison Technologies

**Product name or use case**
Alloy

**Is it in production or development?**
Production

**Link to logo if we can showcase your company on the new site**
https://www.liaison.com/wp-content/uploads/2015/11/logo.png

**User quote (with attribution) about your hapi user experience (up to 300 characters)**
“Hapi is integral to our Alloy data management and integra

[2016-06-13 11:27] karanjthakkar opened #398 "'See all' links on Contribute page are broken"
- `See All` link for `Issues for new contributors` points to:

`https://github.com/issues?q=is%3Aopen+is%3Aissue+user%3Ahapijs+label%3A%22new+contributor%22+`
instead of
`https://github.com/hapijs/hapi/issues?q=is%3Aopen+is%3Aissue+user%3Ahapijs+label%3A%22new+contributor%22+`

- `See All` link for `Help Wanted` points to:

`https://github.com/issues?q=is%3Aopen+is%3Aissue+user%3Ahapijs+label%3A%2

[2016-06-13 11:42] Marsup commented on #398
Those are not broken, it points at all the issues in the organization which is exactly what we want.

[2016-06-13 11:42] #398 closed

[2016-06-13 14:18] karanjthakkar commented on #398
Ahh, my bad. I checked them in incognito. And it threw a 404.

On Mon, 13 Jun 2016 at 17:12, Nicolas Morel <notifications@github.com>
wrote:

--

Regards,
Karan
Twitter/Instagram: @geekykaran

[2016-06-13 14:21] Marsup commented on #398
Ha, didn't know github would protect that kind of query. I'm afraid there's nothing we can do.

[2016-06-13 14:31] devinivy commented on #398
I verified that you just have to be signed-in– not necessarily part of the hapijs org.

[2016-06-15 20:21] cgiacomi commented on #2
:+1:

[2016-07-11 01:09] geuis opened #407 "Update catbox-redis configs in caching tutorial"
http://hapijs.com/tutorials/caching

In the `Client` subsection, this configuration code example is given:

[code]

In at least the case of catbox-redis, the configuration example is incorrect. The properties need to be on an `options` object for catbox to correctly read the configuration, like below.

[code]

[2016-07-14 18:31] hueniverse commented on #384
@jhawlwut this would probably be faster if you submitted a PR to https://github.com/hapijs/hapijs.com/blob/master/lib/community.js

[2016-07-18 19:06] nlf commented on #384
closed via #409

[2016-07-18 19:06] #384 closed

[2016-07-18 19:12] nlf commented on #407
what behavior are you seeing that brought this up? this very repo is configured with host and port next to engine rather than as subproperties of options. the options property shouldn't be needed

[2016-07-18 19:47] geuis commented on #407
@nlf What's happening is the following error and stack trace if I don't use an options property:

[code]

This is the relevant setup in my app.js.

[code]

I'll post the shortened version of my configuration.

[code]

One thought is that the babel es6 transpiling is the source of the error.

[2016-07-18 20:32] nlf commented on #407
i would try without babel first, i personally use catbox-redis configured as the tutorials document it without issue so it sounds like it's time to start ruling out the differences in our environments.

[2016-07-18 21:08] geuis commented on #407
@nlf I propose that since this may not be a documentation issue, we move it to an issue on the catbox repo.

[2016-07-18 21:08] #407 closed

[2016-07-19 22:34] rousos87 opened #410 "crypto.pbkdf2 without specifying a digest is deprecated. Please specify a digest"
Hello

I am new on hapi and i need help.First of all i am using node version 6.3.0 and hapi version 13.5.0.Yesterday i tried to make a simple authentication system.But after i logged in i have this error: "internal/process/warning.js:24 (node:2661) DeprecationWarning: crypto.pbkdf2 without specifying a digest is deprecated. Please specify a digest".I tried to find a solution but nothing.Can anyone

[2016-07-19 23:45] hueniverse commented on #410
Please post this in https://github.com/hapijs/discuss

[2016-07-19 23:45] #410 closed

[2016-07-25 17:13] AdriVanHoudt commented on #306
seems like this is still an issue https://github.com/hapijs/hapi/issues/3241

[2016-07-29 04:21] nickfranciosi commented on #383
#411

[2016-07-29 07:13] Marsup commented on #383
What's the problem with this exactly ? It seems to work for me, even with spaces.

[2016-07-29 13:09] nickfranciosi commented on #383
I noticed that also, but thought that maybe since the HTML spec specifies no spaces in the id that the owners of this project had opened the issue so I decided to try to get a PR in. https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/id

No worries if you don't need it merged in. Thanks!

[2016-07-29 13:54] gergoerdosi commented on #383
@Marsup: It works, but think about copy-paste. When I insert the link somewhere, it becomes broken because linking stops at the first space. See for example here:

http://hapijs.com/resources#Gists and code samples
http://hapijs.com/resources#Projects built with hapi.js

[2016-07-29 14:00] Marsup commented on #383
Indeed Chrome seems to be dumb about it, Firefox restores the %20 when you copy it.

[2016-08-02 11:46] danledgard opened #414 "Addition to community page"
**Company Name**
  Piksel, Inc. (www.piksel.com)

**Product use case**
  Hapi powers our Micro-services APIs providing a cloud based modular framework for online video solutions

**Is it in production or development?**
  Production

**Contact information for further questions**
  dan.ledgard@piksel.com

**Contact information for security alerts**
  ProductFoundation@piksel.com

**Link to logo if w

[2016-08-02 12:41] danledgard commented on #414
pull request created - https://github.com/hapijs/hapijs.com/pull/415

[2016-08-02 16:12] #414 closed

[2016-08-16 13:14] andreftavares opened #418 "Testimonial - nicistore.com"
**Company name**
- [NICI Store](https://nicistore.com) / [Yoonic Commerce](https://github.com/yoonic)

**Product name or use case**
- E-Commerce Backend API

**Is it in production or development?**
- Production

**Contact information for further questions**
**Contact information for security alerts**
- @andreftavares / [andre@yoonic.net](mailto:andre@yoonic.net) / [@andreftavares](https://twitter.

[2016-08-17 20:47] AdriVanHoudt commented on #316
@nlf you want a PR to also show non closed and maybe show it somehow in the UI?

[2016-09-11 02:42] apipkin commented on #27
Is this still an open request? If it is, are there any specifics on pages you would like this to work on or what areas? Building a component that works like that should be a lot of fun

[2016-09-13 18:41] nlf commented on #383
closed via #411

[2016-09-13 18:41] #383 closed

[2016-09-15 03:06] hulbert commented on #306
Somewhat related to this (can open a new issue if appropriate) `14.0.0` [shows](http://hapijs.com/updates) "Release notes" next to it but `15.0.0` does not, despite [this issue existing](https://github.com/hapijs/hapi/issues/3323).

[2016-10-02 10:10] RohitRane opened #425 "http://hapijs.com/tutorials/auth?lang=en_US - “CL.exe” exited with code -1073741511, for 'npm install bcrypt --save""
0
down vote
favorite
I am going through the HAPI js tutorial Authentication section(http://hapijs.com/tutorials/auth?lang=en_US), which requires the "bcrypt". So I did "npm install bcrypt --save". But this is giving node-gyp errors like php was missing. So I followed the instructions given here : https://github.com/nodejs/node-gyp#installation

I even did :npm install --global --production windows

[2016-10-02 18:33] AdriVanHoudt commented on #425
First of this is an issue with bcrypt not hapi so you should really open an issue there.
Second it appears [this](https://github.com/astro/node-expat/issues/57#issuecomment-21547903) has worked for some people

[2016-10-06 17:00] nelsonic commented on #62
@KyleAMathews did you ever figure this out?
I _ask_ because we were trying to figure out how to do error handling the "right" way in Hapi but weren't able to find API docs or a tutorial ... 😞

[2016-10-06 21:22] devinivy commented on #62
@nelsonic you might find this section of the docs interesting https://github.com/hapijs/hapi/blob/master/API.md#error-transformation

[2016-10-06 22:05] nelsonic commented on #62
@devinivy, yeah, the API docs for **Error response** and **Error transformation** are _good_ (_we used them when deriving our `preResponse` plugin_) but we were searching for more of an **Error _Handling_** Guide i.e. what are the "Best Practices" in Hapi Web Apps? _preferably_ with a "real world" example ...

[2016-10-23 21:39] pocketmax opened #433 "a few questions from a new hapi user"
I've read the docs and watched a few youtube presentations on hapi. I'm starting to truly see the power that hapi can provide over express (especially the unit testing). But I have a few questions on how I'm using it/how it should be used.
1. can plugins be registered with restricted access to the rest of your app? I noticed when I made a custom plugin and registered it with a prefixed route, the

[2016-10-24 04:26] devinivy commented on #433
This is dense with many questions.  Rather than answering them all individually I will try to give you an impression of how all these concepts relate to each other and hopefully answer a few of your specific questions along the way :)

One hapi server may consist of several connections ([`server.connections`](https://github.com/hapijs/hapi/blob/master/API.md#serverconnections)), and plugins are re

[2016-10-24 09:07] jpwesselink opened #434 "Site does not use HTTPS"
To protect content and users it would be better if hapijs.com would use HTTPS rather than HTTP.

[2016-10-24 09:10] Marsup commented on #434
What exactly do you intend to protect with that ? It's a static site.

[2016-10-24 09:14] AdriVanHoudt commented on #434
If anything it should redirect

[2016-10-24 09:46] jpwesselink commented on #434
@Marsup HTTPS makes it harder to eavesdrop, change content and pose as someone else.

[2016-10-24 18:40] jedireza commented on #434
I think what @Marsup meant was that there isn't any personal identifying information being passed around that needs to be encrypted. _The only cookie I observed from from Google Analytics._

I am curious about https being removed though. I have links to hapijs.com that used to work. Was https removed recently?

[2016-11-01 21:01] JKHeadley opened #435 "Got hapi"
Hey guys, I'm working on a RESTful API generator that uses hapi.  Trying to get it out there to get some feedback so I figured I'd post here.

Company name: N/A
Product name or use case: [rest-hapi](https://github.com/JKHeadley/rest-hapi)
Is it in production or development? development
Contact information for further questions: headley.justin@gmail.com
Contact information for security alerts: head

[2016-11-02 00:09] JKHeadley commented on #435
Thanks for the help!

[2016-11-11 01:27] sirgallifrey commented on #226
I would like to help with that, but how this cookbook section would be different from the tutorials? It would be more specific? More didactic?

[2016-11-12 12:47] jdcormack commented on #48
I would like to fix this

[2016-11-22 06:12] jedireza commented on #434
👋

[2016-11-22 06:39] patrickkettner commented on #434
while there is no personally identifiable pieces of information on the page, it is an API and links to code. A malicious third party could MITM and replace reputable links with false ones, prompting some users to install malware or serve viruses

[2016-11-23 21:50] hueniverse commented on #434
Someone has to do the work and pay for the setup. I am not sure who that someone is.

[2016-11-23 21:51] nlf commented on #434
that's me :) i'll take care of it sometime soon. i've been a bit busy or it would've already been done.

[2016-11-24 08:40] AdriVanHoudt commented on #434
If you run it through cloudflare, the ssl is free. (as a reaction to `pay for the setup`)

[2016-11-29 22:35] AxelMonroyX commented on #378
@arb I tried to archive this https://github.com/hapijs/hapijs.com/pull/445

[2016-12-01 17:32] sirgallifrey commented on #200
what if we make it into something similar to the stripe docs? https://stripe.com/docs/api#intro

We could use [Slate](https://github.com/lord/slate) changing it's ruby build to javascript, or something else similar

[2016-12-02 17:05] sirgallifrey commented on #200
Here is a very good exemple of documentation: [https://learn.getgrav.org/basics/grav-configuration](https://learn.getgrav.org/basics/grav-configuration)

Instead os nesting configurations items, there is a table and you have the config "paht" on each row, like the row **Author: Name:**

If we use this on hapi docs we will get rid of the 5 levels of nesting and I think ctrl+f could be easier

[2016-12-03 10:20] AdriVanHoudt commented on #200
@sirgallifrey you had a picture of how the docs could look with slate on gitter, could you share that here as well, it will give everyone a better idea I think (also it looked quite good ^^)

[2016-12-03 12:52] sirgallifrey commented on #200
![hpaidocs slate](https://cloud.githubusercontent.com/assets/2331645/20859443/99fac360-b946-11e6-8543-67c28f12c08c.png)

[2016-12-04 13:23] Marsup commented on #418
Fixed by #446.

[2016-12-04 13:23] #418 closed

[2016-12-06 20:34] guahanweb commented on #434
Is there a reason not to just use a free cert from https://letsencrypt.org/? I don't have any insight into the hosting configuration you're using for the actual site, but aside from a little effort, I don't see why there would have to be any cost involved (unless you're binding to the VIP directly and doing SSL termination at that layer).

Let me know if there's anything I can do to help.

[2016-12-06 20:52] nlf commented on #434
tada, https

[2016-12-06 20:52] #434 closed

[2016-12-06 22:03] guahanweb commented on #220
Hey, guys, what's the status on this one? @danecando, did you end up doing anything with it? I was going to take a stab at putting the page itself together, but I didn't want to interfere with more global header/footer modifications.

[2016-12-18 06:48] jkup opened #449 "Tutorials navigation cut off while scrolling"
Hey,

I noticed that when scrolling through the https://hapijs.com/tutorials page on my macbook the bottom of the side nav gets cut off sometimes. I attached a GIF of what I'm seeing.

![hapi](https://cloud.githubusercontent.com/assets/490294/21292024/9dbb5f2a-c4bb-11e6-93da-3cc48ab67b7f.gif)

I think it's caused by:

<img width="290" alt="screen shot 2016-12-18 at 12 47 24 am" src="https://cloud.

[2016-12-22 18:28] #425 closed

[2016-12-22 22:13] AdriVanHoudt commented on #425
@RohitRane or anyone else reading this there is https://github.com/felixrieseberg/windows-build-tools now which should more easily solve native module stuff on windows 🎉

[2016-12-23 02:12] zoe-1 commented on #425
@RohitRane How much RAM do you have available on the system you are running?
FWIW,  bcrypt requires a lot of RAM.   So, if your system / VirtualBox / VMWare setup does not have
enough RAM it will fail with various strange errors. Ran into this when trying to install bcrypt on a
system with less the 2G of RAM.

[2017-01-09 13:12] thebergamo commented on #292
This issue can be closed.

[2017-01-09 13:15] #292 closed

[2017-01-09 13:16] vdeturckheim commented on #292
Closed by #408

[2017-01-09 13:31] thebergamo commented on #200
I like the approach of the @sirgallifrey, maybe if we separate the docs from the main website and use an alteranative approach like the sequelize[1] docs or some specific stylish of documentation will be improve the reads;

[1] Sequelize documentation example: http://docs.sequelizejs.com/en/v3/api/sequelize/#new-sequelizeuri-options

[2017-01-09 13:48] AdriVanHoudt commented on #200
I don't think we should separate the docs from the website.
And personally I think slate looks better than read the docs (the thing sequalize uses)

[2017-01-09 13:54] thebergamo commented on #200
I like read the docs better too, but the idea is just an example. But when the docs have a lots of methods e properties, maybe separate or embed a read the docs inside will be a good approach.

[2017-01-09 13:58] AdriVanHoudt commented on #200
Yeah I think we definitely want to keep the docs on the website

[2017-01-09 15:37] sirgallifrey commented on #200
@thebergamo when you say separate the docs and the website you are talking about the two of them having different visual styles or making two websites in fact? In any case I don't think that separating the docs from the website will fix the docs...
I have played a little more with Slate and I can say it's not a "silver bullet", Slate will help fixing some of the problems but will bring others to t

[2017-01-09 15:48] nlf commented on #200
something to keep in mind - a lot of effort went into making sure that the docs render as closely to how github does it as possible. github does a lot of things differently with markdown that we need to be cognizant of since that's what they target (and should!)

[2017-01-09 16:06] AdriVanHoudt commented on #200
@nlf why does it need to look like the md on github?

[2017-01-09 16:15] nlf commented on #200
because that's where the markdown is written and what it targets. i know on occasion the docs are written using github's preview feature and i'm not about to ask any maintainers to use anything beyond that. github has a lot of features that it adds to markdown, along with a lot of things that it does differently (rendering headers as anchors, for example).

i don't mind if it *looks* different. li

[2017-01-09 16:34] AdriVanHoudt commented on #200
I totally agree that the source should remain markdown and that the website should just enhance it. So yeah something like slate or what we have now (but clearer) is what we need to go for

[2017-01-09 16:56] thebergamo commented on #200
In this case, organizing better the information will be suits fine.

[2017-01-10 21:48] iyobo opened #452 "Make "Lint" rules auto-fixable"
Hello team Hapi, great work!

Some of us are borderline OCD and enjoy focusing on the "wrong things" (EDIT: NOT an insult), but I think all the current linting rules need to be reduced to what can only be auto-fixed. Otherwise this just creates unneccessary busy-work that yields no actual benefit to anyone's code-base.

Rule violations like:

- **hapi/hapi-scope-start - Missing blank line at begin

[2017-01-10 22:33] hueniverse commented on #452
You have zero chance of convincing me to make any rules looser. Feel free to try.
Also: https://gist.github.com/hueniverse/a06f6315ea736ed1b46d.

[2017-01-10 23:39] iyobo commented on #452
Hi Eran :D,
No insult meant. On second read-through, I can see how my initial comment could be seen as curt.

My point, however, is that if the rules exist, they should be made auto-fixable, no matter how opinionated they might be. This helps the community and every other part of the hapi ecosystem to easily and better stick with them for consistency.

Going through the linting code on github, the

[2017-01-10 23:43] nlf commented on #452
pull requests to the eslint rules to add that ability would be welcome :)

see https://github.com/continuationlabs/eslint-plugin-hapi for where those can be found

[2017-01-25 13:12] antony opened #458 "Broken alignment on community on larger screens"
This is most visible at 3200+, but I've spotted it at 1920 too.

Seems like some of the smaller logos end up appended to the previous quote under certain circumstances.

Tested on Chrome on Linux and Chrome on Mac. Screenshot is from Linux.

![broken alignment](https://cloud.githubusercontent.com/assets/218949/22291742/d24e1810-e2ff-11e6-9123-4e408f543eb5.png)

[2017-01-25 13:39] johnbrett commented on #458
It's when the text is too short from the previous company quote. A min-height for the quote will fix this. This would be a great first PR for someone, happy to work with someone on it if they'd like :)

[2017-01-25 13:44] devinivy commented on #458
But, what if there were a taller logo than TIDO's?  It just happens to be the tallest one right now.  The min-height might need to be supplemented by either 1. some more fancy styling work or 2. a policy around the aspect ratio of these logo images.

[2017-01-25 14:38] AdriVanHoudt commented on #458
max-height on the logo and min-height on the quote?

[2017-01-25 14:47] devinivy commented on #458
Yeah, if you wanna stretch the logo :D

[2017-01-25 15:05] AdriVanHoudt commented on #458
stretch? if the logo is smaller than max-height it won't stretch?

[2017-01-25 15:12] devinivy commented on #458
Right, but this TIDO one probably would be squashed, which they probably wouldn't love to see since it might be off brand.  Instead a `background-size: cover` should be able to "do the right thing" and scale the logo to fit inside a box– basically, by adding whitespace around the logo.

[2017-01-25 19:14] AdriVanHoudt commented on #458
ah I was under the assumption max-height would also make it decently scale, but +1 on more reliable solutions

[2017-02-09 20:34] jcollum opened #469 "Sorting on API versions list is goofed up"
https://hapijs.com/api

There's some screwiness on that page in the sorting of the list of versions. I'm trying to upload an image of it but getting a 403 on github's upload. Anyway, the versions aren't sorted right, it goes 14.1.0 then 13.5.3 then 14.0.0 then 13.5.0

Also 13.5.3 is returning a 404

[2017-02-09 21:00] nlf commented on #469
the 404 makes sense, seeing as there is no 13.5.3 tag in github. why it's there at all right now, i'm not sure. i don't know when that tag was removed, but i believe that method was only supposed to be getting cached for 15 minutes.

the releases are sorted right now in order of when they were released, which i agree is silly, however. they should be sorted by semver.

[2017-02-09 22:26] mtharrison commented on #469
The versions are coming from npm (`npm.versions()`), not Github. The 13.5.3 release is still on npm so that's why it's still present on the site.

[2017-02-09 22:26] nlf commented on #469
well there you go, mystery solved. we should change that to use github instead.

[2017-02-09 22:30] mtharrison commented on #469
I guess we'll change it anyway, but I made a PR to fix the sorting: https://github.com/hapijs/hapijs.com/pull/470

[2017-02-27 14:10] evanperriello commented on #449
Good spot. In Chrome, it gives you a scrollbar, but in Safari a lot of scrollbars won't display by default. And if the window height gets too small, the element eventually disappears.

Adding a min-height to the nav (maybe of 350px or so) would keep it from getting too small, while still letting it shrink and scroll for smaller screens, and for Safari users, a -webkit-scrollbar-thumb property shou

[2017-02-27 17:22] nlf commented on #449
if the issue hasn't been assigned to anyone, i wouldn't worry about stepping on toes :) any kind of pull request is appreciated and will be reviewed. worst we can do is say no thanks!

[2017-02-27 17:22] evanperriello commented on #200
Just played around with this a bit as an interim solution. I integrated the borders @mtharrison suggested, changed the spacing and the font sizing, and nixed the bullet points in favor of first-line indentation to better highlight the important terms that start off each list item. This isn't a full restructure, which might be needed in future, but in the interim it might make things a bit more use

[2017-02-27 19:46] AdriVanHoudt commented on #449
@evanperriello 🚀

[2017-02-28 15:45] evanperriello commented on #200
There are two small changes that I think might help the secondary nav on this page:
1. A first-line outdent for each li might distinguish them better from second or third lines of the preceding li, as below.
![indentnav](https://cloud.githubusercontent.com/assets/17691095/23411157/7ce13c58-fd9f-11e6-95aa-7e679e1445ed.JPG)

2. Right now, every item includes its full label (i.e., "server.auth.scheme

[2017-03-06 20:09] franksrevenge opened #476 "SSL Certificate expired for hapijs.com"
The website is currently responding with an expired SSL certificate.

[2017-03-06 20:20] AdriVanHoudt commented on #476
cc @nlf

[2017-03-06 20:22] sirgallifrey commented on #476
Thanks for reporting @franksrevenge

[2017-03-06 20:22] nlf commented on #476
whoops. fixed, thanks for letting me know!

[2017-03-06 20:22] #476 closed

[2017-03-16 11:41] fe-artisan commented on #200
+1.

what if we make it into something similar to the webpack config docs?

https://webpack.js.org/configuration/

[2017-03-16 11:50] AdriVanHoudt commented on #200
I like their gitter button

[2017-06-14 23:45] swashcap commented on #458
Noticing this in a couple browsers @ 1280px wide:

![whoa-walmart](https://user-images.githubusercontent.com/1858316/27159250-7e06cc72-5120-11e7-9e5a-d6c9c8e1693e.jpg)

This due to the `cf` (clearfix) class’s `::after` pseudo element styling to make it those horizontal rules between `section.company`s.

Has anyone PR'd for this? If not, I’d be happy to fix it.

[2017-06-27 12:39] pkaske opened #492 "Add patreon to the landing page"
Recently @hueniverse made me aware on twitter that I can support hapi on patreon.
I wasn't able to find this information on hapi's website and I think that hurts the whole opportunity to raise funds.

Or how your president would likely tweet:
"Hapijs, Great project! Great community. Bad marketing. Bad!"

Huge thanks to everybody in this community who enables small devs like me to build great stuff

[2017-06-27 12:51] devinivy commented on #492
I think this is a great idea :) I can imagine it on the homepage near all the logos of companies that benefit from hapi, and on the contribute page.

[2017-06-27 12:57] pkaske commented on #492
The thing with "contribute $100 and get added to the security email list" could also be mentioned IMO

[2017-06-27 14:51] Marsup commented on #492
I'm not against but just so things are clear, you'd be supporting Eran (which probably spends 99.9% of that money on hapi), not hapi itself.

[2017-06-27 21:06] hueniverse commented on #492
We should take a more consistent and generic approach to this. We should have a sponsors page where each module can have a little section listing sponsors and how to support that module. My Patreon page supports me and no one else, and if it is mentioned on the hapijs.com site, that needs to be clear as I don't want to create the false impression supporting my work is a generic support for the pro

[2017-07-24 13:27] AdriVanHoudt opened #497 "PR/edit button"
I think it would boost PRs/edits if people would be encouraged to edit the page they are looking at

[2017-07-24 20:39] Marsup commented on #497
Not sure what you're suggesting, isn't that already a feature of github ?

[2017-07-24 20:54] devinivy commented on #497
I think he means on the site itself it should link to the file in github that you can edit to suggest changes.

[2017-07-24 20:55] Marsup commented on #497
Oh, I thought I was on contrib, oops :p

[2017-07-25 05:23] AdriVanHoudt commented on #497
yeah on the website itself

[2017-08-21 10:39] antony commented on #458
@swashcap you should probably open that PR :)

[2017-08-21 13:02] raerpo opened #502 "Tutorials Spanish translation"
Hi guys,

I started to work on the tutorial's spanish translation. I searched for open PR or another issues about this particular translation i couldn't find anything. So if anyone is working on this i don't want to overlap his/her work and maybe we can work together.

Also a question, why the translation only applies for tutorials? why not all website?

Thanks!

[2017-08-25 07:38] eliluminado commented on #502
Should consider the use of tools such as Transifex to automate the process of translation.

More info here:
https://docs.transifex.com/formats/markdown

@raerpo #194

[2017-08-29 10:31] antony commented on #502
@eliluminado Transifex is a great tool, but prohibitively expensive, and they don't seem to have an Open Source plan. If there are some free alternatives it might be feasible.

[2017-08-30 20:56] eliluminado commented on #502
Transifex has a free plan without limitations for Open Source projects, but has some requirements

![transifex-open-source](https://user-images.githubusercontent.com/424160/29894646-6c4e8e20-8dac-11e7-80fd-431669f3c9b5.jpg)

[2017-09-01 19:53] g-k opened #507 "site is down?"
Looks like the site is down http://downforeveryoneorjustme.com/hapijs.com

![image](https://user-images.githubusercontent.com/226605/29985583-915a343a-8f2d-11e7-8a53-b9ee452a683b.png)

[2017-09-01 20:17] nlf commented on #507
sure is, looking into it now

[2017-09-01 20:22] nlf commented on #507
fixed it

[2017-09-01 20:22] #507 closed

[2017-10-11 13:33] softdevstory opened #514 "Tutorials Korean Translation"
I started to translate tutorials into Korean. :)

I forked this repo and am translating tutorials.

[2017-10-16 14:21] apipkin commented on #200
I would be happy to work on this but I am unable to get a local version of the hapi site running. When going to `/api` I get a 500 error page. The server seems to be responsive but there is no content showing. If someone can help me out with this, I'll see what I can put together to help the api doc experience.

[2017-10-17 08:04] BorntraegerMarc opened #516 "hapijs.com not reachable"
Click on this [link](http://hapijs.com) -> the website is not responding

[2017-10-17 08:36] dhaneesh-r commented on #507
Looks like the hapijs.com is down

http://downforeveryoneorjustme.com/hapijs.com

![down](https://user-images.githubusercontent.com/1210161/31654667-49d7fa08-b344-11e7-8269-3b5170768882.PNG)

[2017-10-17 16:05] nlf commented on #516
sorry about that, looks like the server locked up on me. got it fixed now!

[2017-10-17 16:05] #516 closed

[2017-10-19 09:51] softdevstory commented on #514
I send pull request. :)

[2017-10-20 17:22] sirgallifrey opened #519 "Side Menu navigation is broken on API (on my browser at least)"
It looks like #517 broke side menu navigation on api page.
I removed the `display: none` on anchors and it started working again.

I'm on Chromium 61.0.3163.100 64 bits

[2017-10-20 17:26] #519 closed

[2017-10-30 18:53] Xeoncross commented on #452
I fail to see how `hapi/hapi-scope-start` even made it into the styleguide without including an auto-fix option since every `format-on-save` or `ctrl+opt+f` toggle will cause you to have to manually go through the file and add newlines back to the function defs.

I assume everyone has this rule ` ...: 0` in their config or something.

[2017-10-30 19:22] nlf commented on #452
this is completely the wrong place to make any of these arguments, not sure why i ever left this issue open in the first place

[2017-10-30 19:22] #452 closed

[2017-11-28 16:03] rdela commented on #398
@karanjthakkar lol this got me [all the way to a PR](https://github.com/hapijs/hapijs.com/pull/522) only to toss it without realizing this was the issue. A year later. Not sure this is a good idea after all @Marsup @devinivy as I gather it presupposes they are signed into GH?

[2017-11-30 18:43] csrl opened #527 "hapijs.com/api nav and link anchors are not consistent/stable"
When following the right hand nav menu, eg. for `server.dependency(dependencies, [after])`, the url fragment shows as `#server.dependency()`, but navigating directly to https://hapijs.com/api#server.dependency() is not valid.  This holds true for other nav menu entries as well.

However, clicking on that section's link icon, results in the fragment `#-serverdependencydependencies-after` which does

[2017-11-30 18:56] csrl opened #528 "hapijs.com update to v17?"
I was looking around for a good v17 implementation example, and thought to check hapijs.com and was surprised to find it was way back on hapi v13.

I guess the effort would be non trivial, but having hapijs.com itself be a good reference implementation for best practices would generally be a useful goal for the hapi ecosystem.

Has this been discussed?  I didn't find anything obviously related whe

[2017-12-01 00:23] hueniverse commented on #528
This is happening mostly on the slack channel.

[2017-12-08 16:51] markgreenwood commented on #528
I'm interested in helping with tutorials. I couldn't find a way to request access to the slack channel. How would I do that?

[2017-12-08 18:24] devinivy commented on #528
@markgreenwood I believe it's public at https://hapihour.slack.com

[2017-12-08 18:41] hueniverse opened #532 "Add slack channel link to home page"

[2017-12-10 20:51] BraedenNorris commented on #528
@markgreenwood Here's an invite to the slack channel: https://join.slack.com/t/hapihour/shared_invite/enQtMjM5Njk1NDgzNTY5LThmODkxODIzOTg5NjJjODFiYjcxZDMxMTAyMzBkZDk3MWY4MTFlNDAyMTU3MmUwMmM0Y2UwMjU3YjAwYjRkN2E

[2017-12-11 19:04] #532 closed

[2017-12-11 19:31] mannypamintuan commented on #528
I am already in the Slack group and want to help with the documentation/tutorial updates on the site.

In regard to coordination, would the discussion be under `Hapi` or should there be another channel created altogether for the site updates?

I look forward to helping out with this!
(I am working on an interview question using hapiV17 and I am looking at request logging, already know where I can

[2017-12-11 19:40] nlf commented on #528
there hasn't been a ton of discussion, but so far any work has been done here in pull requests. i just made a hapi-site channel in the slack though where we can put any discussion specific to the site (including these updates) so it doesn't get lost

[2017-12-16 18:39] blondie63 opened #535 "Tutorial / Adding routes"
On page https://hapijs.com/tutorials the sample code under "Adding routes" does'nt work with Hapi V17 !
err: Server running at: http://localhost:3000
Debug: internal, implementation, error
    TypeError: reply is not a function

What's wrong ?

[2017-12-16 18:45] wswoodruff commented on #535
@blondie63 Yo! Hapi's tutorials page right now is only compatible with `hapi v16.x.x` (says _This tutorial is compatible with hapi v16_  at the top of the page) -- while this doesn't necessarily raise flags to a newcomer, the latest hapi release, `v17` has a lot of breaking changes.

Please bear with us as the hapi community is working on updating the tutorials page.

For your particular case, che

[2017-12-16 18:47] wswoodruff commented on #535
Specifically, the `server.connection` function is gone, just declare anything that would've gone in there to the main hapi server.

Also, we don't return with `reply` in v17. The reply interface has been replaced with a [response toolkit](https://github.com/hapijs/hapi/blob/master/API.md#response-toolkit).

Lastly, to reply with values in your routes, just return them as in the example for `server

[2017-12-17 08:12] blondie63 commented on #535
oh sorry, now i see.. thanks

[2017-12-29 18:57] blairg commented on #528
This is a good article to help the 16 to 17 migration. https://futurestud.io/tutorials/hapi-v17-upgrade-guide-your-move-to-async-await . Personally I haven't made the move yet. Had a few challenges with Plugins such as Nes (Web Sockets) and HTTP/2. Look forward to more tutorials and blog posts in the future.

[2018-01-16 22:43] Npednekar9 commented on #102
server.register(require('inert'), (err) => {

    if (err) {         throw err;     }

    server.route({
    	method: 'GET',
    	path: '/mydemo',
    	handler: function (request, reply)
    	{
    		reply.file('./public/mydemo.html');
    	}
    });

    server.start((err) => {

        if (err) {
        	throw err;
        }
        server.log('info', 'Server running at: ' + server.info.uri);

[2018-01-25 23:40] hueniverse opened #538 "New lead maintainer"
We are looking for a new lead maintainer for the hapijs.com website. Responsibilities include keeping the site code and documentations up to date. @nlf will keep managing the deployment for now and resources used for the product env. If you have the time, skill, and interest, please let me or @nlf know. We need someone to take the lead and help move the site to v17.

[2018-01-26 00:43] locnguyen commented on #538
I'd love to help since I've been using hapi for so long now. Is there a date this needs to be done by?

[2018-01-26 10:21] hueniverse commented on #538
Ideally making some progress next few weeks.

[2018-01-28 03:38] Kevnz commented on #538
As I mentioned to @hueniverse on slack I'd be happy to step up for the role. I can take on the work, or happy to manage the work, delegate to others and keep track of the progress.

[2018-01-29 09:31] hueniverse commented on #538
@Kevnz @locnguyen Thanks! How about split some of the pending work between the two of you and start there. I can help with PR merges when they are ready. Once we get some progress we can figure out how to best handle the lead title (including sharing it).

[2018-01-29 16:49] xuxogarcia opened #539 "Let's be polite"
I was starting to be "happy" about using Hapi for an internal project and ran into an issue.
During my research, I came across someone else that had the same problem and confusion:

https://github.com/hapijs/hapi/issues/3697

The reply from @hueniverse was uncalled for, rude, and a strong reason to sway users away from Hapi.js. It represents an arrogance that gives projects like yours a bad name.

[2018-01-29 17:09] locnguyen commented on #538
@hueniverse sounds like a plan! Let us know what the list of issues are to start working on first.

[2018-01-29 18:51] nlf commented on #539
firstly, this is the wrong place to open any discussion. if you had yourself done any basic research you would see that discussion is all done in [the discuss repo](https://github.com/hapijs/discuss)

secondly, you opening an issue in the incorrect place just to tell us someone was rude in an issue in another repo is _no less_ uncalled for or rude.

thirdly, if you base your framework decisions on

[2018-01-29 18:51] #539 closed

[2018-01-29 18:54] nlf commented on #538
literally all of the open issues are fair game. i would suggest starting with either updating the existing tutorials or maybe putting a GIANT NOTICE somewhere on the tutorial pages telling users that they are _not_ updated for hapi 17 and referring them to the api documentation so that maybe people will stop helpfully telling us that the tutorials are wrong.

[2018-01-29 18:56] nlf commented on #538
@locnguyen @kevnz also i have a #hapi-site channel in the [hapi hour slack](https://join.slack.com/t/hapihour/shared_invite/enQtMjM5Njk1NDgzNTY5LThmODkxODIzOTg5NjJjODFiYjcxZDMxMTAyMzBkZDk3MWY4MTFlNDAyMTU3MmUwMmM0Y2UwMjU3YjAwYjRkN2E) where we can discuss things if you'd like

[2018-01-29 19:35] hueniverse commented on #539
From @xuxogarcia:

During my research, I came across someone else that had the same problem and confusion:

This is great. An issue titled "Let's be polite" and a descriptions that barely stops short of calling me an asshole. hapi is not just code, it is a community with a set of values and norms. Ignoring the detailed issue template and posting a questions that was asked before many times, just b

[2018-01-29 20:03] locnguyen commented on #538
I'll work on issue #535 then. This will give me a good opportunity to start upgrading my old apps too 👍

[2018-01-30 20:05] Kevnz commented on #538
I'll look at #528 to get the site on v17 I assume that no PR or branch means no one else has started working on that.

[2018-01-30 20:45] hueniverse commented on #538
@Kevnz there are some partial PRs pending. Should clear those out first.

[2018-01-31 18:22] biswarupchakravarty commented on #102
@Npednekar9

Try switching to an `async/await` structure. This is what works for me:

[code]

Check [this issue](https://github.com/hapijs/hapi/issues/3658) for further details.
TLDR; v17 moved to an async/await approach, and away from callbacks, and the documentation is in process of being updated. Alternatively, you could downgrade to v16.

[2018-02-01 09:18] sitrakary opened #540 "did anyone ever start working on the v17 tutorial?"

[2018-02-01 09:19] vdeturckheim commented on #540
Hey @sitrakary , you can check currently opened PRs https://github.com/hapijs/hapijs.com/pulls .

[2018-02-01 09:24] sitrakary commented on #540
Thank you @vdeturckheim

[2018-02-01 10:26] #540 closed

[2018-02-04 01:30] ThobyV commented on #538
Hello Everyone, I'm a fairly new javascript developer, although i'm very comfortable with coding in ES5/6 syntax, i love hapi and will like to be a part of this awesome project. I have been stalking @hueniverse
 everywhere and would love to help out. If there's a way i could get started to do basic tasks i would love it!

[2018-02-04 18:22] devinivy commented on #538
Hi @ThobyV, glad to hear you're interested.  I suggest checking-out [this page](https://hapijs.com/contribute) which lists issues tagged `new contributor` and `help wanted` across the organization.  And joining the [community slack](https://hapihour.slack.com).  If you have any more questions about this, please create a new issue on the [discussion forum](https://github.com/hapijs/discuss/issues).

[2018-02-28 03:24] mtharrison opened #542 "Update Auth tutorial for hapi 17"

[2018-03-01 04:17] mtharrison opened #545 "Update cookies tutorial for hapi 17"

[2018-03-01 04:40] #545 closed

[2018-03-01 04:40] #542 closed

[2018-03-03 01:11] mtharrison opened #549 "Update logging tutorial for hapi 17"

[2018-03-04 03:43] #549 closed

[2018-03-04 03:44] mtharrison opened #552 "Update views tutorial for hapi 17"

[2018-03-05 03:10] mtharrison opened #555 "Update routing tutorial to hapi 17"

[2018-03-05 04:01] #552 closed

[2018-03-05 04:02] #555 closed

[2018-03-06 02:49] mtharrison opened #557 "Update server methods tutorial for hapi 17"

[2018-03-06 19:38] Nargonath opened #559 "Upgrading stylus to the latest version"
I'm on Windows 10 with `npm@5.6` and `node@8.9.4` and I get an error while trying to `make` the project:
![image](https://user-images.githubusercontent.com/583657/37053991-f4821220-217d-11e8-9a49-b3841e8f2896.png)

If I update `stylus` to version `0.54.5` from `0.52.4` it solves the problem. I don't know what side effect it could have but we could update the version in the `package.json`. If that'

[2018-03-07 01:20] #557 closed

[2018-03-07 01:58] mtharrison opened #560 "Update static files tutorial for hapi 17"

[2018-03-07 08:39] AdriVanHoudt commented on #559
Seems like https://github.com/stylus/stylus/blob/dev/History.md#0530--2015-12-14 0.53.0 had a path fix for windows 👌

[2018-03-07 09:38] Nargonath commented on #559
@AdriVanHoudt Indeed. Thanks. I was a bit lazy to check the patch log. Should we upgrade only to this version or shall we consider upgrading to the latest?

[2018-03-07 09:44] Marsup opened #562 "Hapi 17 documentation shown in all cases"
No matter which version I pick on the website, I always get the hapi 17 one.

I don't know yet if it's a cache issue or something else.

[2018-03-07 09:49] AdriVanHoudt commented on #559
I have no knowledge of stylus or how it is used by this repo but if possible go to the latest version, I don't remember seeing breaking changes in the log

[2018-03-07 10:47] Nargonath commented on #559
There wasn't any breaking changes in the patch log and I installed the dep on local and could start the website. I did not notice any error on my side.

[2018-03-07 11:07] Nargonath commented on #559
Master is already up to date with the stylus version. I just forgot to update my fork from the main repo.

[2018-03-07 11:07] #559 closed

[2018-03-07 11:45] mtharrison commented on #562
Looks like the cache key is just `github.reference`. It should have the version/tag as part of the cache key.

[2018-03-07 11:50] mtharrison commented on #562
https://github.com/hapijs/hapijs.com/pull/564/files

[2018-03-07 12:50] #562 closed

[2018-03-08 01:33] mtharrison opened #566 "Update validation tutorial for hapi 17"

[2018-03-08 21:14] #566 closed

[2018-03-09 05:56] mtharrison opened #569 "Update caching tutorial for hapi 17"
Also remove notice that some tutorials aren't compatible with hapi 17. All are now 🎉

[2018-03-09 10:38] #569 closed

[2018-03-11 05:58] shushantkumar opened #571 "Debug: internal, implementation, error Error: handler method did not return a value, a promise, or throw an error"
Hi,
I'm using hapi version ^17.2.1 and I have a problem because I get an error in route handler:
Debug: internal, implementation, error
    Error: handler method did not return a value, a promise, or throw an error

I am using MySQL database. So when I'm sending a query to the database and getting the result from the database. Using console.log, it is getting printed in the console but since I'm r

[2018-03-11 08:52] Marsup commented on #571
Duplicate of https://github.com/hapijs/discuss/issues/643.

[2018-03-11 08:52] #571 closed

[2018-03-13 17:47] allybee opened #573 "Use tag interpolation for whitespace control"
By default, [Pug removes all spaces before and after tags](https://pugjs.org/language/interpolation.html#whitespace-control). Because of this, the inline html tags are running together. I noticed this specifically on the homepage:

<img width="688" alt="screen shot 2018-03-13 at 12 39 29 pm" src="https://user-images.githubusercontent.com/1250930/37359478-b0fa52b8-26bb-11e8-85de-69b3e1415806.png">

[2018-03-13 18:18] devinivy commented on #573
Thanks for the great writeup/explanation!  We'd definitely take a PR :)

[2018-03-13 21:59] #573 closed

[2018-04-06 20:18] TheJimFactor opened #578 "Documentation missing onPostStart reference"
Following the tutorial for v17 @ https://hapijs.com/tutorials in the `Plugins` section I noticed that the `logEvents` only included `response` though the following explanation shows a `onPostStart` event.

### In the tutorial
[code]

### Expected
Having a `onPostStart` event included to get the example output listed in the tutorial.
[code]
#### What was the result you received?
Just the default se

[2018-04-13 22:15] JustinBeaudry opened #580 "Invalid anchor link to Server Events"
<img width="1399" alt="screen shot 2018-04-13 at 3 14 08 pm" src="https://user-images.githubusercontent.com/686771/38759950-5874f460-3f2d-11e8-9cbd-c00728b02b2a.png">
Links to https://hapijs.com/api#server-events when it is actualy https://hapijs.com/api#-serverevents. My proposal is just to fix the anchor to what is in the link in the image above.

[2018-04-13 22:47] JustinBeaudry commented on #538
This issue is still open so I'm assuming that there's still a need for a maintainer? I would be willing to maintain.

[2018-04-13 23:30] nlf commented on #538
we are still in need of a maintainer here, yes. if you're interested you can start by reviewing some open pull requests and taking a look at open issues. once you've established a bit of presence in this repo we can discuss handing over control. do let us know if you have any questions, i'd suggest joining the hapi hour slack where we have a channel for the site

[2018-04-16 20:51] JustinBeaudry commented on #469
Still seeing this as an issue so #470 didn't quite solve the issue completely:

<img width="232" alt="screen shot 2018-04-16 at 1 50 53 pm" src="https://user-images.githubusercontent.com/686771/38834419-49cc3cd2-417d-11e8-8129-fc597e194d18.png">

<img width="232" alt="screen shot 2018-04-16 at 1 50 38 pm" src="https://user-images.githubusercontent.com/686771/38834420-4d3d0914-417d-11e8-809f-b39fa3

[2018-04-16 20:54] JustinBeaudry commented on #514
Seems to me like this issue is now resolved? @softdevstory?

[2018-04-16 20:58] JustinBeaudry commented on #2
Is there an update on putting swag on the hapijs site? Maybe it should just be a shopify store with a link from the hapijs site? @nvcexploder?

[2018-04-16 21:00] JustinBeaudry commented on #48
I'm seeing a `max-width` on the hompage container that should reign in any long lines of text. @nlf is this still an issue?

[2018-04-16 21:16] JustinBeaudry commented on #64
What would be the ideal security policy? @hueniverse Do you just want emails coming to you or would you prefer a portal (e.g. link) to https://github.com/hapijs/hapi/issues with a Security tag?

[2018-04-17 01:03] JustinBeaudry commented on #378
All templates are now Pug (As far as I can tell). @nlf is there a reason for this issue to remain open?

[2018-04-17 01:12] JustinBeaudry commented on #449
Looks like sticky nav for the sidebar has been removed. As such this seems to no longer be an issue. Any reason to keep this open @nlf?

[2018-04-17 08:56] softdevstory commented on #514
This translation is for old version(v11.x.x).

After I translated, new version of hapi tutorial has became available.

I will translate new version of tutorial, later. :)

[2018-04-17 11:14] antony commented on #458
Works for me on 4k too. Closing this issue.

[2018-04-17 11:14] #458 closed

[2018-04-17 14:06] hueniverse commented on #2
We are not really in the business of selling stuff. It does not belong on the site.

[2018-04-17 14:06] #2 closed

[2018-04-17 16:28] JustinBeaudry commented on #580
@hueniverse @nlf What is the process for getting the docs updated after having an update to the documentation merged (for example:  in hapi)?

[2018-04-17 17:58] nlf commented on #580
Currently it’s a manual process, the doc gets cached for a very long time the first time it’s rendered. We don’t update docs for past versions since the docs are rendered for the tag. You would have to move the tag in git and then flush the cached version

[2018-04-17 17:59] nlf commented on #580
Maybe having an api doc entry for what currently resides in master isn’t a bad idea though

[2018-04-18 02:32] JustinBeaudry commented on #196
https://hapijs.com/api#plugins has not updated with this request. Is this still something worth pursuing? Seems like a worthwhile endeavor, but don't want to jump on this without having some confirmation of desire.

[2018-04-19 21:24] JustinBeaudry commented on #527
@csrl I've noted this from a change I made recently to https://github.com/hapijs/hapi API.md. Seems to me like theres a larger issue with how those fragments are generated.

[2018-04-19 22:06] nlf commented on #580
That’s correct, yes. The original idea was to make it so you only see docs for published versions so as to avoid confusion about the docs being inaccurate

[2018-04-21 15:32] hueniverse commented on #527
It might be a problem with how the page is loaded. If you open the https://hapijs.com/api#server.dependency() link it doesn't go to the right place, but if you then click on another navigation link and hit back, it does go to the right place...

[2018-04-21 15:32] #535 closed

[2018-04-21 16:02] nlf commented on #527
It’s a race condition, the browser is trying to jump to an anchor that hasn’t been rendered yet

[2018-04-21 16:13] hueniverse commented on #527
Can we add a refresh somehow?

[2018-04-21 16:14] nlf commented on #527
I think we can add some code to manually jump to the correct anchor when the document is ready

[2018-04-21 16:15] hueniverse commented on #196
We did move most modules to use their own API.md file. We still need to enhance the API "reader" to be able to not only render the core hapi api doc, but also all of the modules with API.md file. That would be really great.

[2018-04-21 16:18] hueniverse opened #582 "Move "Getting started" to the top"
It's a bit absurd right now...

![image](https://user-images.githubusercontent.com/56631/39086355-f797a30e-4544-11e8-8036-a5ead1dcaa52.png)

[2018-04-21 16:20] hueniverse opened #583 "Update Korean Tutorials Translation"
Replaces #514

Still on hapi v11.

[2018-04-21 16:23] #43 closed, assigned to nobody

[2018-04-21 16:24] hueniverse commented on #227
There are two options:

![image](https://user-images.githubusercontent.com/56631/39086420-b5c006f0-4545-11e8-9ffb-9584f3a0b7d1.png)

Above the current selectors or as new sections below. I think new sections make more sense but need to automagically pin the version of the module to the version of hapi selected based on the committed shrinkwrap file.

[2018-04-21 16:25] hueniverse commented on #196
There is another issue for adding the missing docs.

[2018-04-21 16:25] #196 closed

[2018-04-21 16:26] #48 closed

[2018-04-21 16:27] hueniverse commented on #64
I need to write a security policy and then someone can turn that into a new page.

[2018-04-21 16:28] hueniverse commented on #194
I don't think we need an open issue for translations. They are added as people find the time to add them.

[2018-04-21 16:28] #194 closed

[2018-04-21 16:28] #449 closed

[2018-04-21 16:32] hueniverse opened #584 "Remove unsupported versions"
Basically, remove the API selections for anything other than the latest v16 and v17. We need to push people in that direction.

[2018-04-21 16:32] hueniverse commented on #469
Not needed once #584

[2018-04-21 16:32] #469 closed

[2018-04-21 16:33] #27 closed

[2018-04-21 16:34] hueniverse commented on #44
Duplicate

[2018-04-21 16:34] #44 closed

[2018-04-21 16:34] #492 closed

[2018-04-21 16:35] #62 closed

[2018-04-21 16:35] hueniverse commented on #138
Closing due to inactivity.

[2018-04-21 16:35] #138 closed

[2018-04-21 16:37] hueniverse commented on #200
Closing. If people have specific new ideas, please open issues. This 3 years long discussion hasn't been helpful.

[2018-04-21 16:37] #200 closed

[2018-04-21 16:37] #226 closed

[2018-04-21 16:37] hueniverse commented on #226
Tutorials seems good enough.

[2018-04-21 16:38] #264 closed

[2018-04-21 16:38] #306 closed

[2018-04-21 16:39] #316 closed

[2018-04-21 16:40] #433 closed

[2018-04-21 16:40] hueniverse commented on #502
Still active?

[2018-04-21 16:42] hueniverse commented on #538
@JustinBeaudry nice job getting issues cleaned. I'd like to see some PRs from you to show you have a solid understanding of the internals of the site. If you pick one of the new requested features and work on that, it would be all I need to support you are new lead.

[2018-04-21 16:43] hueniverse commented on #578
PR would be great.

[2018-04-22 17:13] strand commented on #264
@hueniverse, thanks for closing. Obviously, this fell off my plate.

[2018-04-23 09:09] softdevstory commented on #583
I will try when I am free :)

[2018-06-11 17:10] scottwleonard opened #590 "hapijs.com down"
![image](https://user-images.githubusercontent.com/8998867/41246364-17020f86-6d68-11e8-851c-846144227deb.png)

[2018-06-11 17:31] JustinBeaudry commented on #590
Down for me as well. @nlf @hueniverse Is this intentional?

[2018-06-11 17:38] traysonkelii opened #591 "Site is down"
The site is down again
<img width="1136" alt="screen shot 2018-06-11 at 11 37 59 am" src="https://user-images.githubusercontent.com/25124556/41247695-00357de8-6d6c-11e8-8a10-36069c7da750.png">

[2018-06-11 17:41] JustinBeaudry commented on #591
Dupe of #590

[2018-06-11 18:20] #591 closed

[2018-06-11 20:24] nlf commented on #590
it's fixed

[2018-06-11 20:24] #590 closed

[2018-06-15 15:18] ErickWendel commented on #582
I'm trying to fix, but the project isn't working. So, I remove "token" word from  internals.requestOptions.headers.authorization in GitHub.js file and now It works.

Only `/tutorials is` with `Response Error: 401 Unauthorized` error when I access, another routes is running ok, but I don't know what only this route is not working

[2018-06-15 20:03] nrodriguez opened #597 "Error trying to start application"
When running `npm start` on a fresh clone after running `npm i` and `make`. It throws this error

[code]

[code]

[2018-06-29 07:18] sitrakary commented on #597
This is caused by the package `building-static-server` which does not supports hapi v17

[2018-07-04 14:04] ErickWendel commented on #582
that issue was merged :D Can you close this issue ?

[2018-07-04 15:05] #582 closed

[2018-07-10 22:58] coderdiaz commented on #502
Can I help you to translate the tutorials to Spanish?

[2018-07-16 23:33] Rob-pw opened #603 "Incomplete documentation /api#-serverrulesprocessor-options"
The descriptor associated with the `rules` parameter under `processor - a function using the signature function(rules, info) where:` appears to be missing.

https://hapijs.com/api#-serverrulesprocessor-options

[2018-07-18 07:29] AdriVanHoudt commented on #603
I would suggest looking at the hapi code and do a PR with the missing info.
If you need pointers or anything let us know!

[2018-08-17 02:43] Dennis-Emmental commented on #583
I started to translate tutorial into Korean. :)

[2018-08-17 02:45] softdevstory commented on #583
I started to translate new version of tutorial into Korean.

[2018-08-17 13:05] shadone opened #604 "Some of the companies featured on hapijs.com no longer exist"
Hi there,

I've noticed that 4 out of 12 companies featured on the main page hapijs.com no longer exist:

- https://octovis.com
- https://nicistore.com/
- http://pebblecode.com/
- https://feedient.com/

Those should probably be removed

<img width="1261" alt="screen shot 2018-08-17 at 15 03 47" src="https://user-images.githubusercontent.com/25523/44267545-f5277800-a22e-11e8-9cf5-2df25baa510c.png">

[2018-08-20 07:03] AdriVanHoudt commented on #604
For Feedient we could point to https://github.com/Feedient/Server

[2018-09-09 22:08] shugigo opened #606 "HapiJS API Documentation Lacking Bullet Hierarchy Indication"
Hi,

In the past few years, I had a lot of occasions that I tried to find a feature/capability/option by searching a word in the HapiJS API documentation. Almost always I found what I was looking for but I was not sure where am I in the bullet hierarchy and it was very hard to locate my path.
I really recommend adding a footer with the path that will indicate you where are you (Or any other improv

[2018-09-17 09:06] Mattrachwal opened #607 "hapijs.com is down?"
Im trying to access hapijs.com but it appears to be down, Im browsing from a different country than I normally do but I don't think I there are any blocks that I'm unaware of.

I used a few online tools to verify and I believe its down and not just my network configuration.

[2018-09-17 12:09] devinivy commented on #607
In the interim I have stood up the site on glitch: https://hapijs-com.glitch.me/

[2018-09-17 13:30] nlf commented on #607
it's back up

[2018-09-17 13:30] #607 closed

[2018-09-18 12:43] Nargonath opened #608 "Update code samples to use route.options instead of route.config"
In the [`route.options.pre`](https://hapijs.com/api#route.options.pre) section of the website, the code sample still show the `route.config` object which is IIRC the < v17 way of doing things and has now been deprecated in favor of `route.options`. I'd suggest just using `options` instead of `config`.

I'll be happy to make the easy PR for it, but I wanted to ask prior to make sure I'm not wrong.

[2018-09-18 12:47] devinivy commented on #608
Sounds right to me 👌It seems like almost all of the docs use `config` rather than `options`!

[2018-09-18 12:51] Nargonath commented on #608
Then I could change the issue and make it about updating all the code samples instead.

![update all the things](https://memegenerator.net/img/instances/66279455/update-all-the-things.jpg)

[2018-09-22 11:04] Nargonath opened #609 "Add prettier to the project"
Would be cool to add `prettier` configuration to the project either as `.prettierrc` or in the `package.json`. This way `prettier` user would not break code format when contributing.

Bonus: Add a `precommit` hook to format code in the commit to make sure the format stay the same even for contributors that do not use prettier in their IDE. We would need to update travis configuration as well to ru

[2018-09-23 21:56] Nargonath commented on #606
There is a PR currently that tackles the bulletpoints design: https://github.com/hapijs/hapijs.com/pull/473. Feel free to give your opinion there as well.

[2018-09-24 07:10] #608 closed

[2018-09-26 08:03] Nargonath commented on #604
I worked on it. I finished writing the code. I just need to test it before I make a PR.

[2018-09-26 21:35] Nargonath opened #611 "Add mention about github's token scope"
Add a mention in `README.md` about github's token scope you need to run the website locally.

[2018-10-03 07:58] Nargonath commented on #584
I'll work on it soon.

[2018-10-06 09:33] codeShaurya commented on #609
What will be the rules ??
Can I make new rules for this project? ?

[2018-10-06 10:07] Marsup commented on #609
I see no reason to change for prettier, we already have the linter doing its job.

[2018-10-06 11:03] Nargonath commented on #609
I intended this issue more as a discussion in the first place to see if that's would be something people would accept to add in the project. My reasoning behind it was that lots of people now are using Prettier to autoformat their code through their IDE (including myself) and usually it modifies the current code base format (adding leading comma, line length and such) hence you have to deactivate

[2018-10-06 12:15] Marsup commented on #609
Your IDE is kind of your problem :) Can't your IDE remember that setting ?

Tests (aka CI) already run the linting, there's a command to automatically fix it as well. I don't see a compelling argument to replace that.

Also, considering the very limited set of options prettier has, good luck making it compatible with hapi's style guide.

[2018-10-07 14:38] Nargonath commented on #609
Yeah I can definitely set that setting.

Indeed doesn't seem like it would provide any value. I'll just close this issue.

[2018-10-07 14:38] #609 closed

[2018-10-07 16:00] Marsup commented on #609
You think prettier can follow our rules ?

[2018-10-08 18:24] #611 closed

[2018-10-10 00:57] #584 closed

[2018-10-10 08:12] Nargonath commented on #609
IIRC the project uses `eslint`. `prettier` and `eslint` are not mutually exclusive. We can use [`prettier-eslint`](https://github.com/prettier/prettier-eslint) which would allow us to leverage `prettier` advantages (format file format other than JS) and also follow the hapi styleguide for the JS. We would just need to disable the `eslint` rules that conflict with `prettier` settings such as: `semi

[2018-10-11 20:28] Nargonath commented on #597
Pretty strange I don't have this issue at all. I'm on OSX 10.13.6 with:
![image](https://user-images.githubusercontent.com/583657/46831853-d368ee00-cda4-11e8-8fbb-37d9bef9bf11.png)

If you update every thing do you still have the same problem? What system are you running this on?

[2018-10-11 20:33] Nargonath commented on #578
@TheJimFactor Are you working on the PR?

[2018-10-11 20:48] Nargonath commented on #497
I'll have a try at this issue.

[2018-10-14 17:30] Nargonath commented on #497
I thought on putting the button in header right on the navigation bar:
![image](https://user-images.githubusercontent.com/583657/46919949-67c29300-cfe7-11e8-9f9a-0f9871100c7c.png)

What do you think? Of course it would be contextualize depending on the page you are viewing. 😃

[2018-10-14 18:12] devinivy commented on #497
I personally think that looks nice.

[2018-10-14 18:29] Nargonath commented on #497
Concerning the content that would be linked to for most of the pages it was their associated pug template. In some cases it did not make sense so I took the liberty to link to the most related content:
* `/tutorials` are linked to the proper `.md` file according to the language and the section selected.
* `/api` is linked to the `API.md` on hapi repository either on the `master` branch for v17 or

[2018-10-14 22:31] hueniverse commented on #538
@Nargonath sounds great! Thanks.

[2018-10-17 08:04] #578 closed

[2018-10-19 14:37] nrodriguez commented on #597
@Nargonath Still receiving the same error on OSX 10.13.6

[code]

[2018-10-19 15:03] Nargonath commented on #597
That's pretty weird ...

[2018-10-20 20:48] Nargonath commented on #603
@rob-h-w Are you working on the PR?

[2018-10-23 07:31] Nargonath commented on #606
I think we can close this issue in favor of #473

[2018-11-06 03:59] hueniverse commented on #497
@Nargonath status?

[2018-11-06 04:02] #497 closed

[2018-11-06 05:35] #603 closed

[2018-11-06 20:45] #604 closed

[2018-11-11 10:54] Nargonath commented on #227
Alright, actually I was considering it as my next task.

[2018-11-11 12:09] Nargonath commented on #227
What modules are we talking about? Is it only core modules or every module under hapijs organization?

[2018-11-12 18:09] csrl commented on #527
It seems this wasn't fixed?  Is it closed because it won't be fixed?

[2018-11-12 18:18] hueniverse commented on #527
Closed because no one was working on it and after a year I decided to close it and let someone reopen if they feel strongly about it. I'll let @Nargonath decide what he wants to do with it.

[2018-11-14 08:56] Nargonath commented on #583
I guess we can close the issue now since the PR has been merged.

[2018-11-14 08:56] #583 closed

[2018-11-15 07:44] dasDaniel opened #629 "rename or remove host:'localhost'"
the tutorial  `/lib/tutorials/en_US/getting-started.md` specifies the server to use `host: 'localhost'`

While I see that this was added in https://github.com/hapijs/hapijs.com/pull/427 there is a drawback to this, which should be considered.

When using `localhost` in a docker environment, this creates an issue, where the server is only available internally to the container. For containers that d

[2018-11-15 08:32] hueniverse commented on #629
localhost is the most secure setting. We can add a note about it, but the default should always be localhost.

[2018-11-15 08:32] #629 closed

[2018-11-15 08:44] Nargonath commented on #629
@dasDaniel Are you planning on making a PR for this note?

[2018-11-15 15:32] dasDaniel commented on #629
@hueniverse

If that's the case, why wouldn't that be the default ?

@Nargonath  Can do

[2018-11-15 15:52] Nargonath commented on #629
@dasDaniel Alright, let's see where this discussion goes and I might reopen it if you or anyone else decide to land a PR for it.

[2018-11-15 23:01] hueniverse commented on #629
It's not the internal default for historical reasons. It is common practice to use localhost in examples.

[2018-11-22 17:25] Nargonath opened #631 "Add mention in update page about release information"
![image](https://user-images.githubusercontent.com/583657/48916764-e67edb80-ee83-11e8-930c-a9e707819784.png)

[2018-11-22 20:49] #631 closed

[2018-11-24 22:15] Nargonath commented on #227
I submitted a PR with the work I have done so far so you can check up how it looks. I think we'll need to  standardize the `API.md` format in the different projects. Some have summary at the beginning, some have not and I have no way of knowing at the moment which `ul` I should take or not when building the  links on the sidebar. For example, here is how the sidebar looks for `shot`:

![image](htt

[2018-11-24 23:55] hueniverse commented on #227
What's the best way to standardize it?

[2018-11-29 10:37] Nargonath commented on #227
@hueniverse I would say:
* Having a title repeating the name of the module because most of the `API.md` right now only have a title mentioning the version, which is ignored at the moment anyway.
* Either add an `ul` summary right after these titles pretty much as you have on `hapi` or `joi`. The main problem I see with that is for small modules like [`topo`](https://github.com/hapijs/topo/blob/mas

[2018-12-12 22:08] Nargonath commented on #227
Alright I found a better solution for the problem I mentioned above. I updated my code on the PR. This is now fully functional. I'm sure people will want to tweak the CSS here and there so we'll just improve with feedbacks.

Some PRs I made to update `API.md` format are still pending approval:
- https://github.com/hapijs/hoek/pull/286
- https://github.com/hapijs/shot/pull/103

I don't have the rig

[2018-12-13 14:34] #227 closed

[2018-12-19 09:37] Nargonath opened #638 "Update slack invite link"
https://join.slack.com/t/hapihour/shared_invite/enQtNTA5MDUzOTAzOTU4LTUyZmFiYjkyMTBmNDcyMmI2MmRjMzg4Y2YzNTlmNzUzNjViN2U1NmYyY2NjYjhiYWU4MGE2OTFhZDRlYWMyZDY

[2018-12-19 09:38] Nargonath opened #639 "Remove mention of the gitter channel"
Gitter is not used anymore so remove it

[2018-12-20 13:00] #638 closed

[2018-12-20 13:00] #639 closed

[2018-12-20 13:03] Nargonath opened #641 "Remove Gitter/IRC mentions in GETTING_STARTED other than english"
I cannot do it by myself as I cannot read/write ~Portugese~, Korean, ~Turkish~ and ~Chinese~.

[2018-12-21 10:49] Getz85 opened #642 "The "Getting started" script should follow coding conventions"
I begin to learn hapi, and I just tried the "Getting started" script on the homepage of hapijs.com.

But the start function doesn't follow the [Function Declaration Coding Conventions](https://hapijs.com/styleguide#function-declaration):

[code]

must be

[code]

[2018-12-21 11:11] Nargonath commented on #642
Yes indeed, good catch @Getz85 . Do you want to setup a PR to update it? 😃

[2018-12-21 14:53] Getz85 commented on #642
@Nargonath  I'd loved too, but I can't start the app (because of this: https://github.com/hapijs/hapijs.com/issues/597 ). I tried on Windows and Docker: same error.

[2018-12-21 15:46] Nargonath commented on #642
@Getz85 Damn. Which version of Windows are you using? Do you use it through Windows SubLinux System?

You can still use the Edit button on the header at the top of the page and open the PR through Github's interface (cf. below):
![image](https://user-images.githubusercontent.com/583657/50350577-dcfa9900-053f-11e9-9096-418f9ec0870a.png)

[2018-12-21 15:56] Getz85 commented on #642
I'm not very confortable with doing a pull request without testing it, but it's done :)

I'm on Windows 10 Home 64 bits, I tried in Cmder and in the basic cmd shell.

[2018-12-22 12:38] Nargonath commented on #642
Thanks @Getz85. Don't worry about that, if I know in advance I'll just test it myself and make any comments if needed.

[2018-12-22 13:30] #642 closed

[2019-01-05 10:37] fguler commented on #641
I have send a PR regarding the Turkish version.

[2019-01-05 23:08] AdriVanHoudt commented on #641
you are all amazing, thank you ✨

[2019-01-06 03:37] hueniverse commented on #641
@L42y can you add the slack link?

[2019-01-07 02:03] L42y commented on #641
@hueniverse sure thing

[2019-01-07 02:14] L42y commented on #641
@hueniverse the Slack link in GETTING_STARTED Chinese is the same as in other languages, so I assume it's updated?

[2019-01-07 05:42] hueniverse commented on #641
@L42y Thanks. I only saw a deletion in your PR so I wanted to be sure the link was there.

[2019-01-22 01:39] devinivy opened #652 "Homepage was 500ing"
The live homepage currently shows a templated 500 page with the message,

I cannot reproduce locally using a bad github key, which was my initial hunch.

[2019-01-22 02:05] devinivy commented on #652
Oddly enough this seems to have fixed itself.  I'm going to leave this open in case someone wants to try and figure out what happened.

[2019-01-22 13:03] gunar commented on #652
Tis fixed

[2019-01-22 14:37] devinivy commented on #652
I know!  I was pretty stumped.  I tried running the site locally under some bad conditions, e.g. no connectivity, no github token, bad github token.  I couldn't get the same behavior.  I did, however, find this in `Utils.download()`: https://github.com/hapijs/hapijs.com/blob/5c586ef44aea69bc9656ab5c9f0b59c630013565/lib/utils.js#L20-L23.  I would put my money on that, but would have to peek the log

[2019-01-22 14:39] Nargonath commented on #652
Could be it, indeed.

[2019-01-24 15:15] hueniverse opened #654 "Show api docs for v17"

[2019-01-24 15:16] Nargonath commented on #654
Indeed, good catch didn't think of it after the release.

[2019-01-26 15:04] #654 closed

[2019-02-14 10:34] Nargonath commented on #64
@hueniverse Where are we on this? Do you have a security policy you're happy with?

[2019-02-14 18:42] hueniverse commented on #64
It's on my list. Hopefully in March.

[2019-02-16 12:57] Nargonath commented on #64
@hueniverse Alright, nice. 👍

[2019-03-19 09:57] Nargonath commented on #527
Regarding the latest discussions about revamping the website on Slack, this issue will most likely disappear so I'm going to close it for now. If the revamp doesn't go forward, I'll reopen it.

[2019-03-19 09:57] #527 closed

[2019-03-19 09:59] Nargonath commented on #652
@devinivy have you experienced this bug again?

[2019-03-19 15:11] Nargonath opened #661 "API page display 17.8.5 twice instead of latest v17 and v16"
The version select does not have the latest v16 choice but instead the latest v17:
![image](https://user-images.githubusercontent.com/583657/54617436-8ed33400-4a61-11e9-8cdd-15519fa086eb.png)

[2019-03-20 21:21] Nargonath commented on #661
@hueniverse The reason behind the above error is that the dist-tags have changed on `npm`. `v17.8.5` is now tagged as LTS. As `v16` support ends by the end of the month, can we remove it from  versions select on the API page or do we still display it until then?

[2019-03-25 09:46] Nargonath opened #667 "Categorize resources by hapi version"
We need to check the resources list on the website and categorize them by hapi version so people learning about hapi with the latest version aren't confused by older resources for older versions.

[2019-03-28 16:42] Nargonath commented on #652
closing for now @devinivy, feel free to reopen if it happens again

[2019-03-28 16:42] #652 closed

[2019-04-02 09:00] Nargonath commented on #661
We keep the documentation as-is for now.

[2019-04-02 09:00] #661 closed

[2019-04-02 12:38] Nargonath opened #676 "Fix github rate limit error 500"
This is related to https://github.com/hapijs/hapijs.com/issues/652.

After discussion on Slack, it might be due to exceeding GitHub API rate limit. A fix could be to use `catbox` `dropOnError: false` option to keep previous cache version so we can use it instead when we have an error due to rate limit exceeded. We would need to check in `catbox` `generate` function if the value we get is `null` or

[2019-04-06 00:14] hueniverse opened #685 "Remove community page"
The list is out dated and incomplete.

Also remove logos on home page.

[2019-04-07 18:14] Nargonath commented on #685
It is sad so them go away

[2019-04-07 18:31] #685 closed

[2019-04-22 12:09] Nargonath opened #687 "Side menu not displaying properly on API Page"
The side menu display is broken and menu contents is in the page. Seems to be related to frontend code for the modules section.

[2019-04-22 13:28] #687 closed

[2019-04-22 13:29] Nargonath opened #691 "Bell module summary display is broken on API page"
Current API format does not work well with the automatic modules API import on the API page:
![image](https://user-images.githubusercontent.com/583657/56505310-9af85880-651b-11e9-9d7e-e207f4a00f04.png)

[2019-04-23 08:04] Nargonath commented on #691
Fixed in above PR

[2019-04-23 08:04] #691 closed

[2019-04-25 20:11] autumnwoodberry opened #696 "Mistake in route query docs"
https://github.com/hapijs/hapijs.com/blame/master/lib/tutorials/en_US/routing.md#L131

I think this is meant to be:

[code]

[2019-04-26 08:24] Nargonath commented on #696
Indeed, I think you're right. Thanks for spotting that. Do you want to make a PR for it?

[2019-05-02 07:41] #696 closed

[2019-05-03 08:55] jarrodyellets opened #703 "Update tutorials to use scoped packages"
The tutorials need to be updated to reflect the new scoped packages. I'll start opening some PRs

[2019-05-03 09:10] Nargonath commented on #703
Good call! Thanks @jarrodyellets

[2019-05-07 06:44] yonjah opened #713 "Current version on homepage is out of date"
https://hapijs.com/ is currently showing -

even though v18.3.1 is available
I assume it still pulls the data from npm `hapi` and not `@hapi/hapi`

[2019-05-07 08:06] Nargonath commented on #713
Hum that's a very good remark! Thank you. Do you want to make a PR for it?

[2019-05-07 08:22] yonjah commented on #713
Sure I assume it's just a simple change to `lib/npm.js`

Only thing is about downloads count. Do we wont to add both counts from `hapi` and `@hapi/hapi`
I assume if I'll only get `@hapi/hapi` downloads they will be extremely low at the moment

[2019-05-07 15:45] #713 closed

[2019-05-07 16:02] Nargonath commented on #703
All tutorials seems to have been updated so I'll just close this. Feel free to reopen @jarrodyellets if I'm mistaken

[2019-05-07 16:02] #703 closed

[2019-05-09 16:41] erevecov commented on #652
Same issue today.

[2019-05-10 08:41] Nargonath commented on #652
Yeah I noticed it yesterday also. There is an ongoing PR to fix it. I haven't finished it yet. I hope to find the time to get it done soon (hopefully this weekend 🤞 )

[2019-05-21 17:05] #676 closed

[2019-05-23 20:18] treyhuffine commented on #685
:( Seeing the community was great

[2019-05-25 04:04] pasovsky opened #721 "The styleguide page is broken"
https://hapijs.com/styleguide results in an empty page, showing only the navigation items

[2019-05-25 09:50] Nargonath commented on #721
Hum that's weird indeed. Thanks for raising it. 👍

[2019-05-25 10:07] #721 closed

[2019-07-30 19:36] #64 closed

[2019-07-30 19:36] #641 closed

[2019-07-30 19:36] #667 closed